In [4]:
import pandas as pd

In [5]:
excel = pd.read_excel('/Users/alicia/Downloads/2019_05_10 TMNA Master Site  Aqueduct Input 2019_08_19 (1).xlsx')
excel.head()

,Unnamed: 0,location name,address
0,1,TMMAL,"1 Cottonvalley Dr NW, Huntsville, AL 35810 Uni..."
1,2,MTMUS,"9000 Greenbriar Parkway, Huntsville, AL 35756 ..."
2,3,DC II Phoenix,"120 East Van Buren Street, Phoenix, AZ 85004 U..."
3,4,Phoenix Satellite Training,"4008 S. 23rd Street, Phoenix, AZ 85040 United ..."
4,5,TAPG,"30700 West Patton Rd, Wittmann, AZ 85316 Unite..."

In [6]:
excel.columns

Index(['Unnamed: 0', 'location name', 'address'], dtype='object')