# Points intersecction ([instructions](https://github.com/wri/aqueduct_analyze_locations/))

## Predefined annual

`Sql:`

```sql
with r as (SELECT unnest(Array['POINT(-4.0429 39.9097)', 'POINT(10.0195 51.3992)', 'POINT(-6.5039 32.8426)']) as points,
                  unnest(Array['Location_1', 'Location_2', 'Location_3']) as location_name,
                  unnest(Array['address_1', 'address_2', 'address_3']) as input_address,
                  unnest(Array['address_1', 'address_2', 'address_3']) as match_address),
points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom 
           FROM r),
   wri as (SELECT points_id::numeric, w.name_0 as country, w.name_1 as province, r.*
           FROM water_risk_indicators_annual_all r
           LEFT JOIN y2018m12d06_rh_master_shape_v01 g on r.aq30_id=g.aq30_id
           RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom)
           LEFT JOIN gadm_wri w on r.gid_1=w.gid_1  
           ),
basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name           
           FROM hydrobasins_fao_fiona_merged_v01 r
           RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
          ),
 aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name        
              FROM aquifer_names_simple_v01 r
              RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
             ),
 bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name     
              FROM basins a
              LEFT JOIN aquifers b on a.points_id=b.points_id     
              )  
           
SELECT b.location_name,
       b.input_address,
       b.match_address,
	   ST_y(b.the_geom) as latitude,
       ST_x(b.the_geom) as longitude, 
       b.major_basin_name, 
       b.minor_basin_name,
       b.aquifer_name,
       a.string_id,
       a.aq30_id,
       a.pfaf_id,
       a.gid_1,
       a.aqid,
       a.gid_0,
       a.name_0,
       a.name_1,
       a.area_km2,
       a.bws_raw,
       a.bws_score,
       a.bws_cat,
       a.bws_label,
       a.bwd_raw,
       a.bwd_score,
       a.bwd_cat,
       a.bwd_label,
       a.iav_raw,
       a.iav_score,
       a.iav_cat,
       a.iav_label,
       a.sev_raw,
       a.sev_score,
       a.sev_cat,
       a.sev_label,
       a.gtd_raw,
       a.gtd_score,
       a.gtd_cat,
       a.gtd_label,
       a.rfr_raw,
       a.rfr_score,
       a.rfr_cat,
       a.rfr_label,
       a.cfr_raw,
       a.cfr_score,
       a.cfr_cat,
       a.cfr_label,
       a.drr_raw,
       a.drr_score,
       a.drr_cat,
       a.drr_label,
       a.ucw_raw,
       a.ucw_score,
       a.ucw_cat,
       a.ucw_label,
       a.cep_raw,
       a.cep_score,
       a.cep_cat,
       a.cep_label,
       a.udw_raw,
       a.udw_score,
       a.udw_cat,
       a.udw_label,
       a.usa_raw,
       a.usa_score,
       a.usa_cat,
       a.usa_label,
       a.rri_raw,
       a.rri_score,
       a.rri_cat,
       a.rri_label,
       a.w_awr_def_qan_raw,
       a.w_awr_def_qan_score,
       a.w_awr_def_qan_cat,
       a.w_awr_def_qan_label,
       a.w_awr_def_qan_weight_fraction,
       a.w_awr_def_qal_raw,
       a.w_awr_def_qal_score,
       a.w_awr_def_qal_cat,
       a.w_awr_def_qal_label,
       a.w_awr_def_qal_weight_fraction,
       a.w_awr_def_rrr_raw,
       a.w_awr_def_rrr_score,
       a.w_awr_def_rrr_cat,
       a.w_awr_def_rrr_label,
       a.w_awr_def_rrr_weight_fraction,
       a.w_awr_def_tot_raw,
       a.w_awr_def_tot_score,
       a.w_awr_def_tot_cat,
       a.w_awr_def_tot_label,
       a.w_awr_def_tot_weight_fraction,
       a.w_awr_agr_qan_raw,
       a.w_awr_agr_qan_score,
       a.w_awr_agr_qan_cat,
       a.w_awr_agr_qan_label,
       a.w_awr_agr_qan_weight_fraction,
       a.w_awr_agr_qal_raw,
       a.w_awr_agr_qal_score,
       a.w_awr_agr_qal_cat,
       a.w_awr_agr_qal_label,
       a.w_awr_agr_qal_weight_fraction,
       a.w_awr_agr_rrr_raw,
       a.w_awr_agr_rrr_score,
       a.w_awr_agr_rrr_cat,
       a.w_awr_agr_rrr_label,
       a.w_awr_agr_rrr_weight_fraction,
       a.w_awr_agr_tot_raw,
       a.w_awr_agr_tot_score,
       a.w_awr_agr_tot_cat,
       a.w_awr_agr_tot_label,
       a.w_awr_agr_tot_weight_fraction,
       a.w_awr_che_qan_raw,
       a.w_awr_che_qan_score,
       a.w_awr_che_qan_cat,
       a.w_awr_che_qan_label,
       a.w_awr_che_qan_weight_fraction,
       a.w_awr_che_qal_raw,
       a.w_awr_che_qal_score,
       a.w_awr_che_qal_cat,
       a.w_awr_che_qal_label,
       a.w_awr_che_qal_weight_fraction,
       a.w_awr_che_rrr_raw,
       a.w_awr_che_rrr_score,
       a.w_awr_che_rrr_cat,
       a.w_awr_che_rrr_label,
       a.w_awr_che_rrr_weight_fraction,
       a.w_awr_che_tot_raw,
       a.w_awr_che_tot_score,
       a.w_awr_che_tot_cat,
       a.w_awr_che_tot_label,
       a.w_awr_che_tot_weight_fraction,
       a.w_awr_con_qan_raw,
       a.w_awr_con_qan_score,
       a.w_awr_con_qan_cat,
       a.w_awr_con_qan_label,
       a.w_awr_con_qan_weight_fraction,
       a.w_awr_con_qal_raw,
       a.w_awr_con_qal_score,
       a.w_awr_con_qal_cat,
       a.w_awr_con_qal_label,
       a.w_awr_con_qal_weight_fraction,
       a.w_awr_con_rrr_raw,
       a.w_awr_con_rrr_score,
       a.w_awr_con_rrr_cat,
       a.w_awr_con_rrr_label,
       a.w_awr_con_rrr_weight_fraction,
       a.w_awr_con_tot_raw,
       a.w_awr_con_tot_score,
       a.w_awr_con_tot_cat,
       a.w_awr_con_tot_label,
       a.w_awr_con_tot_weight_fraction,
       a.w_awr_elp_qan_raw,
       a.w_awr_elp_qan_score,
       a.w_awr_elp_qan_cat,
       a.w_awr_elp_qan_label,
       a.w_awr_elp_qan_weight_fraction,
       a.w_awr_elp_qal_raw,
       a.w_awr_elp_qal_score,
       a.w_awr_elp_qal_cat,
       a.w_awr_elp_qal_label,
       a.w_awr_elp_qal_weight_fraction,
       a.w_awr_elp_rrr_raw,
       a.w_awr_elp_rrr_score,
       a.w_awr_elp_rrr_cat,
       a.w_awr_elp_rrr_label,
       a.w_awr_elp_rrr_weight_fraction,
       a.w_awr_elp_tot_raw,
       a.w_awr_elp_tot_score,
       a.w_awr_elp_tot_cat,
       a.w_awr_elp_tot_label,
       a.w_awr_elp_tot_weight_fraction,
       a.w_awr_fnb_qan_raw,
       a.w_awr_fnb_qan_score,
       a.w_awr_fnb_qan_cat,
       a.w_awr_fnb_qan_label,
       a.w_awr_fnb_qan_weight_fraction,
       a.w_awr_fnb_qal_raw,
       a.w_awr_fnb_qal_score,
       a.w_awr_fnb_qal_cat,
       a.w_awr_fnb_qal_label,
       a.w_awr_fnb_qal_weight_fraction,
       a.w_awr_fnb_rrr_raw,
       a.w_awr_fnb_rrr_score,
       a.w_awr_fnb_rrr_cat,
       a.w_awr_fnb_rrr_label,
       a.w_awr_fnb_rrr_weight_fraction,
       a.w_awr_fnb_tot_raw,
       a.w_awr_fnb_tot_score,
       a.w_awr_fnb_tot_cat,
       a.w_awr_fnb_tot_label,
       a.w_awr_fnb_tot_weight_fraction,
       a.w_awr_min_qan_raw,
       a.w_awr_min_qan_score,
       a.w_awr_min_qan_cat,
       a.w_awr_min_qan_label,
       a.w_awr_min_qan_weight_fraction,
       a.w_awr_min_qal_raw,
       a.w_awr_min_qal_score,
       a.w_awr_min_qal_cat,
       a.w_awr_min_qal_label,
       a.w_awr_min_qal_weight_fraction,
       a.w_awr_min_rrr_raw,
       a.w_awr_min_rrr_score,
       a.w_awr_min_rrr_cat,
       a.w_awr_min_rrr_label,
       a.w_awr_min_rrr_weight_fraction,
       a.w_awr_min_tot_raw,
       a.w_awr_min_tot_score,
       a.w_awr_min_tot_cat,
       a.w_awr_min_tot_label,
       a.w_awr_min_tot_weight_fraction,
       a.w_awr_ong_qan_raw,
       a.w_awr_ong_qan_score,
       a.w_awr_ong_qan_cat,
       a.w_awr_ong_qan_label,
       a.w_awr_ong_qan_weight_fraction,
       a.w_awr_ong_qal_raw,
       a.w_awr_ong_qal_score,
       a.w_awr_ong_qal_cat,
       a.w_awr_ong_qal_label,
       a.w_awr_ong_qal_weight_fraction,
       a.w_awr_ong_rrr_raw,
       a.w_awr_ong_rrr_score,
       a.w_awr_ong_rrr_cat,
       a.w_awr_ong_rrr_label,
       a.w_awr_ong_rrr_weight_fraction,
       a.w_awr_ong_tot_raw,
       a.w_awr_ong_tot_score,
       a.w_awr_ong_tot_cat,
       a.w_awr_ong_tot_label,
       a.w_awr_ong_tot_weight_fraction,
       a.w_awr_smc_qan_raw,
       a.w_awr_smc_qan_score,
       a.w_awr_smc_qan_cat,
       a.w_awr_smc_qan_label,
       a.w_awr_smc_qan_weight_fraction,
       a.w_awr_smc_qal_raw,
       a.w_awr_smc_qal_score,
       a.w_awr_smc_qal_cat,
       a.w_awr_smc_qal_label,
       a.w_awr_smc_qal_weight_fraction,
       a.w_awr_smc_rrr_raw,
       a.w_awr_smc_rrr_score,
       a.w_awr_smc_rrr_cat,
       a.w_awr_smc_rrr_label,
       a.w_awr_smc_rrr_weight_fraction,
       a.w_awr_smc_tot_raw,
       a.w_awr_smc_tot_score,
       a.w_awr_smc_tot_cat,
       a.w_awr_smc_tot_label,
       a.w_awr_smc_tot_weight_fraction,
       a.w_awr_tex_qan_raw,
       a.w_awr_tex_qan_score,
       a.w_awr_tex_qan_cat,
       a.w_awr_tex_qan_label,
       a.w_awr_tex_qan_weight_fraction,
       a.w_awr_tex_qal_raw,
       a.w_awr_tex_qal_score,
       a.w_awr_tex_qal_cat,
       a.w_awr_tex_qal_label,
       a.w_awr_tex_qal_weight_fraction,
       a.w_awr_tex_rrr_raw,
       a.w_awr_tex_rrr_score,
       a.w_awr_tex_rrr_cat,
       a.w_awr_tex_rrr_label,
       a.w_awr_tex_rrr_weight_fraction,
       a.w_awr_tex_tot_raw,
       a.w_awr_tex_tot_score,
       a.w_awr_tex_tot_cat,
       a.w_awr_tex_tot_label,
       a.w_awr_tex_tot_weight_fraction,
       b.the_geom
FROM wri a 
LEFT JOIN bsn_aqui b on a.points_id=b.points_id
```

**Create a function**

We create a function in carto to deal with all this operations.

```sql
DROP FUNCTION get_aqpoints_annual_02(points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT);

DROP TYPE point_intersection_annual_02;

CREATE TYPE point_intersection_annual_02 AS (location_name text, input_address text, match_address text, latitude numeric, longitude numeric,  major_basin_name text,  minor_basin_name text, aquifer_name text, string_id text, aq30_id numeric, pfaf_id numeric, gid_1 text, aqid numeric, gid_0 text, name_0 text, name_1 text, area_km2 numeric, bws_raw numeric, bws_score numeric, bws_cat numeric, bws_label text, bwd_raw numeric, bwd_score numeric, bwd_cat numeric, bwd_label text, iav_raw numeric, iav_score numeric, iav_cat numeric, iav_label text, sev_raw numeric, sev_score numeric, sev_cat numeric, sev_label text, gtd_raw numeric, gtd_score numeric, gtd_cat numeric, gtd_label text, rfr_raw numeric, rfr_score numeric, rfr_cat numeric, rfr_label text, cfr_raw numeric, cfr_score numeric, cfr_cat numeric, cfr_label text, drr_raw numeric, drr_score numeric, drr_cat numeric, drr_label text, ucw_raw numeric, ucw_score numeric, ucw_cat numeric, ucw_label text, cep_raw numeric, cep_score numeric, cep_cat numeric, cep_label text, udw_raw numeric, udw_score numeric, udw_cat numeric, udw_label text, usa_raw numeric, usa_score numeric, usa_cat numeric, usa_label text, rri_raw numeric, rri_score numeric, rri_cat numeric, rri_label text, w_awr_def_qan_raw numeric, w_awr_def_qan_score numeric, w_awr_def_qan_cat numeric, w_awr_def_qan_label text, w_awr_def_qan_weight_fraction numeric, w_awr_def_qal_raw numeric, w_awr_def_qal_score numeric, w_awr_def_qal_cat numeric, w_awr_def_qal_label text, w_awr_def_qal_weight_fraction numeric, w_awr_def_rrr_raw numeric, w_awr_def_rrr_score numeric, w_awr_def_rrr_cat numeric, w_awr_def_rrr_label text, w_awr_def_rrr_weight_fraction numeric, w_awr_def_tot_raw numeric, w_awr_def_tot_score numeric, w_awr_def_tot_cat numeric, w_awr_def_tot_label text, w_awr_def_tot_weight_fraction numeric, w_awr_agr_qan_raw numeric, w_awr_agr_qan_score numeric, w_awr_agr_qan_cat numeric, w_awr_agr_qan_label text, w_awr_agr_qan_weight_fraction numeric, w_awr_agr_qal_raw numeric, w_awr_agr_qal_score numeric, w_awr_agr_qal_cat numeric, w_awr_agr_qal_label text, w_awr_agr_qal_weight_fraction numeric, w_awr_agr_rrr_raw numeric, w_awr_agr_rrr_score numeric, w_awr_agr_rrr_cat numeric, w_awr_agr_rrr_label text, w_awr_agr_rrr_weight_fraction numeric, w_awr_agr_tot_raw numeric, w_awr_agr_tot_score numeric, w_awr_agr_tot_cat numeric, w_awr_agr_tot_label text, w_awr_agr_tot_weight_fraction numeric, w_awr_che_qan_raw numeric, w_awr_che_qan_score numeric, w_awr_che_qan_cat numeric, w_awr_che_qan_label text, w_awr_che_qan_weight_fraction numeric, w_awr_che_qal_raw numeric, w_awr_che_qal_score numeric, w_awr_che_qal_cat numeric, w_awr_che_qal_label text, w_awr_che_qal_weight_fraction numeric, w_awr_che_rrr_raw numeric, w_awr_che_rrr_score numeric, w_awr_che_rrr_cat numeric, w_awr_che_rrr_label text, w_awr_che_rrr_weight_fraction numeric, w_awr_che_tot_raw numeric, w_awr_che_tot_score numeric, w_awr_che_tot_cat numeric, w_awr_che_tot_label text, w_awr_che_tot_weight_fraction numeric, w_awr_con_qan_raw numeric, w_awr_con_qan_score numeric, w_awr_con_qan_cat numeric, w_awr_con_qan_label text, w_awr_con_qan_weight_fraction numeric, w_awr_con_qal_raw numeric, w_awr_con_qal_score numeric, w_awr_con_qal_cat numeric, w_awr_con_qal_label text, w_awr_con_qal_weight_fraction numeric, w_awr_con_rrr_raw numeric, w_awr_con_rrr_score numeric, w_awr_con_rrr_cat numeric, w_awr_con_rrr_label text, w_awr_con_rrr_weight_fraction numeric, w_awr_con_tot_raw numeric, w_awr_con_tot_score numeric, w_awr_con_tot_cat numeric, w_awr_con_tot_label text, w_awr_con_tot_weight_fraction numeric, w_awr_elp_qan_raw numeric, w_awr_elp_qan_score numeric, w_awr_elp_qan_cat numeric, w_awr_elp_qan_label text, w_awr_elp_qan_weight_fraction numeric, w_awr_elp_qal_raw numeric, w_awr_elp_qal_score numeric, w_awr_elp_qal_cat numeric, w_awr_elp_qal_label text, w_awr_elp_qal_weight_fraction numeric, w_awr_elp_rrr_raw numeric, w_awr_elp_rrr_score numeric, w_awr_elp_rrr_cat numeric, w_awr_elp_rrr_label text, w_awr_elp_rrr_weight_fraction numeric, w_awr_elp_tot_raw numeric, w_awr_elp_tot_score numeric, w_awr_elp_tot_cat numeric, w_awr_elp_tot_label text, w_awr_elp_tot_weight_fraction numeric, w_awr_fnb_qan_raw numeric, w_awr_fnb_qan_score numeric, w_awr_fnb_qan_cat numeric, w_awr_fnb_qan_label text, w_awr_fnb_qan_weight_fraction numeric, w_awr_fnb_qal_raw numeric, w_awr_fnb_qal_score numeric, w_awr_fnb_qal_cat numeric, w_awr_fnb_qal_label text, w_awr_fnb_qal_weight_fraction numeric, w_awr_fnb_rrr_raw numeric, w_awr_fnb_rrr_score numeric, w_awr_fnb_rrr_cat numeric, w_awr_fnb_rrr_label text, w_awr_fnb_rrr_weight_fraction numeric, w_awr_fnb_tot_raw numeric, w_awr_fnb_tot_score numeric, w_awr_fnb_tot_cat numeric, w_awr_fnb_tot_label text, w_awr_fnb_tot_weight_fraction numeric, w_awr_min_qan_raw numeric, w_awr_min_qan_score numeric, w_awr_min_qan_cat numeric, w_awr_min_qan_label text, w_awr_min_qan_weight_fraction numeric, w_awr_min_qal_raw numeric, w_awr_min_qal_score numeric, w_awr_min_qal_cat numeric, w_awr_min_qal_label text, w_awr_min_qal_weight_fraction numeric, w_awr_min_rrr_raw numeric, w_awr_min_rrr_score numeric, w_awr_min_rrr_cat numeric, w_awr_min_rrr_label text, w_awr_min_rrr_weight_fraction numeric, w_awr_min_tot_raw numeric, w_awr_min_tot_score numeric, w_awr_min_tot_cat numeric, w_awr_min_tot_label text, w_awr_min_tot_weight_fraction numeric, w_awr_ong_qan_raw numeric, w_awr_ong_qan_score numeric, w_awr_ong_qan_cat numeric, w_awr_ong_qan_label text, w_awr_ong_qan_weight_fraction numeric, w_awr_ong_qal_raw numeric, w_awr_ong_qal_score numeric, w_awr_ong_qal_cat numeric, w_awr_ong_qal_label text, w_awr_ong_qal_weight_fraction numeric, w_awr_ong_rrr_raw numeric, w_awr_ong_rrr_score numeric, w_awr_ong_rrr_cat numeric, w_awr_ong_rrr_label text, w_awr_ong_rrr_weight_fraction numeric, w_awr_ong_tot_raw numeric, w_awr_ong_tot_score numeric, w_awr_ong_tot_cat numeric, w_awr_ong_tot_label text, w_awr_ong_tot_weight_fraction numeric, w_awr_smc_qan_raw numeric, w_awr_smc_qan_score numeric, w_awr_smc_qan_cat numeric, w_awr_smc_qan_label text, w_awr_smc_qan_weight_fraction numeric, w_awr_smc_qal_raw numeric, w_awr_smc_qal_score numeric, w_awr_smc_qal_cat numeric, w_awr_smc_qal_label text, w_awr_smc_qal_weight_fraction numeric, w_awr_smc_rrr_raw numeric, w_awr_smc_rrr_score numeric, w_awr_smc_rrr_cat numeric, w_awr_smc_rrr_label text, w_awr_smc_rrr_weight_fraction numeric, w_awr_smc_tot_raw numeric, w_awr_smc_tot_score numeric, w_awr_smc_tot_cat numeric, w_awr_smc_tot_label text, w_awr_smc_tot_weight_fraction numeric, w_awr_tex_qan_raw numeric, w_awr_tex_qan_score numeric, w_awr_tex_qan_cat numeric, w_awr_tex_qan_label text, w_awr_tex_qan_weight_fraction numeric, w_awr_tex_qal_raw numeric, w_awr_tex_qal_score numeric, w_awr_tex_qal_cat numeric, w_awr_tex_qal_label text, w_awr_tex_qal_weight_fraction numeric, w_awr_tex_rrr_raw numeric, w_awr_tex_rrr_score numeric, w_awr_tex_rrr_cat numeric, w_awr_tex_rrr_label text, w_awr_tex_rrr_weight_fraction numeric, w_awr_tex_tot_raw numeric, w_awr_tex_tot_score numeric, w_awr_tex_tot_cat numeric, w_awr_tex_tot_label text, w_awr_tex_tot_weight_fraction numeric, the_geom geometry);

CREATE OR REPLACE FUNCTION get_aqpoints_annual_02(points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT)
	RETURNS SETOF point_intersection_annual_02 as $$
	BEGIN
	RETURN query EXECUTE  'with r as (SELECT unnest(Array'|| points_array ||') as points, unnest(Array'|| locations_array ||') as location_name, unnest(Array'|| input_address_array ||') as input_address, unnest(Array'|| match_address_array ||') as match_address), points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom FROM r), wri as (SELECT points_id::numeric, w.name_0 as country, w.name_1 as province, r.* FROM water_risk_indicators_annual_all r LEFT JOIN y2018m12d06_rh_master_shape_v01 g on r.aq30_id=g.aq30_id RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom) LEFT JOIN gadm_wri w on r.gid_1=w.gid_1   ), basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name FROM hydrobasins_fao_fiona_merged_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name FROM aquifer_names_simple_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name FROM basins a LEFT JOIN aquifers b on a.points_id=b.points_id) SELECT b.location_name, b.input_address, b.match_address, ST_y(b.the_geom)::numeric as latitude, ST_x(b.the_geom)::numeric as longitude, major_basin_name, minor_basin_name, aquifer_name, string_id, aq30_id::numeric, pfaf_id::numeric, gid_1, aqid::numeric, gid_0, name_0, name_1, area_km2::numeric, bws_raw::numeric, bws_score::numeric, bws_cat::numeric, bws_label, bwd_raw::numeric, bwd_score::numeric, bwd_cat::numeric, bwd_label, iav_raw::numeric, iav_score::numeric, iav_cat::numeric, iav_label, sev_raw::numeric, sev_score::numeric, sev_cat::numeric, sev_label, gtd_raw::numeric, gtd_score::numeric, gtd_cat::numeric, gtd_label, rfr_raw::numeric, rfr_score::numeric, rfr_cat::numeric, rfr_label, cfr_raw::numeric, cfr_score::numeric, cfr_cat::numeric, cfr_label, drr_raw::numeric, drr_score::numeric, drr_cat::numeric, drr_label, ucw_raw::numeric, ucw_score::numeric, ucw_cat::numeric, ucw_label, cep_raw::numeric, cep_score::numeric, cep_cat::numeric, cep_label, udw_raw::numeric, udw_score::numeric, udw_cat::numeric, udw_label, usa_raw::numeric, usa_score::numeric, usa_cat::numeric, usa_label, rri_raw::numeric, rri_score::numeric, rri_cat::numeric, rri_label, w_awr_def_qan_raw::numeric, w_awr_def_qan_score::numeric, w_awr_def_qan_cat::numeric, w_awr_def_qan_label, w_awr_def_qan_weight_fraction::numeric, w_awr_def_qal_raw::numeric, w_awr_def_qal_score::numeric, w_awr_def_qal_cat::numeric, w_awr_def_qal_label, w_awr_def_qal_weight_fraction::numeric, w_awr_def_rrr_raw::numeric, w_awr_def_rrr_score::numeric, w_awr_def_rrr_cat::numeric, w_awr_def_rrr_label, w_awr_def_rrr_weight_fraction::numeric, w_awr_def_tot_raw::numeric, w_awr_def_tot_score::numeric, w_awr_def_tot_cat::numeric, w_awr_def_tot_label, w_awr_def_tot_weight_fraction::numeric, w_awr_agr_qan_raw::numeric, w_awr_agr_qan_score::numeric, w_awr_agr_qan_cat::numeric, w_awr_agr_qan_label, w_awr_agr_qan_weight_fraction::numeric, w_awr_agr_qal_raw::numeric, w_awr_agr_qal_score::numeric, w_awr_agr_qal_cat::numeric, w_awr_agr_qal_label, w_awr_agr_qal_weight_fraction::numeric, w_awr_agr_rrr_raw::numeric, w_awr_agr_rrr_score::numeric, w_awr_agr_rrr_cat::numeric, w_awr_agr_rrr_label, w_awr_agr_rrr_weight_fraction::numeric, w_awr_agr_tot_raw::numeric, w_awr_agr_tot_score::numeric, w_awr_agr_tot_cat::numeric, w_awr_agr_tot_label, w_awr_agr_tot_weight_fraction::numeric, w_awr_che_qan_raw::numeric, w_awr_che_qan_score::numeric, w_awr_che_qan_cat::numeric, w_awr_che_qan_label, w_awr_che_qan_weight_fraction::numeric, w_awr_che_qal_raw::numeric, w_awr_che_qal_score::numeric, w_awr_che_qal_cat::numeric, w_awr_che_qal_label, w_awr_che_qal_weight_fraction::numeric, w_awr_che_rrr_raw::numeric, w_awr_che_rrr_score::numeric, w_awr_che_rrr_cat::numeric, w_awr_che_rrr_label, w_awr_che_rrr_weight_fraction::numeric, w_awr_che_tot_raw::numeric, w_awr_che_tot_score::numeric, w_awr_che_tot_cat::numeric, w_awr_che_tot_label, w_awr_che_tot_weight_fraction::numeric, w_awr_con_qan_raw::numeric, w_awr_con_qan_score::numeric, w_awr_con_qan_cat::numeric, w_awr_con_qan_label, w_awr_con_qan_weight_fraction::numeric, w_awr_con_qal_raw::numeric, w_awr_con_qal_score::numeric, w_awr_con_qal_cat::numeric, w_awr_con_qal_label, w_awr_con_qal_weight_fraction::numeric, w_awr_con_rrr_raw::numeric, w_awr_con_rrr_score::numeric, w_awr_con_rrr_cat::numeric, w_awr_con_rrr_label, w_awr_con_rrr_weight_fraction::numeric, w_awr_con_tot_raw::numeric, w_awr_con_tot_score::numeric, w_awr_con_tot_cat::numeric, w_awr_con_tot_label, w_awr_con_tot_weight_fraction::numeric, w_awr_elp_qan_raw::numeric, w_awr_elp_qan_score::numeric, w_awr_elp_qan_cat::numeric, w_awr_elp_qan_label, w_awr_elp_qan_weight_fraction::numeric, w_awr_elp_qal_raw::numeric, w_awr_elp_qal_score::numeric, w_awr_elp_qal_cat::numeric, w_awr_elp_qal_label, w_awr_elp_qal_weight_fraction::numeric, w_awr_elp_rrr_raw::numeric, w_awr_elp_rrr_score::numeric, w_awr_elp_rrr_cat::numeric, w_awr_elp_rrr_label, w_awr_elp_rrr_weight_fraction::numeric, w_awr_elp_tot_raw::numeric, w_awr_elp_tot_score::numeric, w_awr_elp_tot_cat::numeric, w_awr_elp_tot_label, w_awr_elp_tot_weight_fraction::numeric, w_awr_fnb_qan_raw::numeric, w_awr_fnb_qan_score::numeric, w_awr_fnb_qan_cat::numeric, w_awr_fnb_qan_label, w_awr_fnb_qan_weight_fraction::numeric, w_awr_fnb_qal_raw::numeric, w_awr_fnb_qal_score::numeric, w_awr_fnb_qal_cat::numeric, w_awr_fnb_qal_label, w_awr_fnb_qal_weight_fraction::numeric, w_awr_fnb_rrr_raw::numeric, w_awr_fnb_rrr_score::numeric, w_awr_fnb_rrr_cat::numeric, w_awr_fnb_rrr_label, w_awr_fnb_rrr_weight_fraction::numeric, w_awr_fnb_tot_raw::numeric, w_awr_fnb_tot_score::numeric, w_awr_fnb_tot_cat::numeric, w_awr_fnb_tot_label, w_awr_fnb_tot_weight_fraction::numeric, w_awr_min_qan_raw::numeric, w_awr_min_qan_score::numeric, w_awr_min_qan_cat::numeric, w_awr_min_qan_label, w_awr_min_qan_weight_fraction::numeric, w_awr_min_qal_raw::numeric, w_awr_min_qal_score::numeric, w_awr_min_qal_cat::numeric, w_awr_min_qal_label, w_awr_min_qal_weight_fraction::numeric, w_awr_min_rrr_raw::numeric, w_awr_min_rrr_score::numeric, w_awr_min_rrr_cat::numeric, w_awr_min_rrr_label, w_awr_min_rrr_weight_fraction::numeric, w_awr_min_tot_raw::numeric, w_awr_min_tot_score::numeric, w_awr_min_tot_cat::numeric, w_awr_min_tot_label, w_awr_min_tot_weight_fraction::numeric, w_awr_ong_qan_raw::numeric, w_awr_ong_qan_score::numeric, w_awr_ong_qan_cat::numeric, w_awr_ong_qan_label, w_awr_ong_qan_weight_fraction::numeric, w_awr_ong_qal_raw::numeric, w_awr_ong_qal_score::numeric, w_awr_ong_qal_cat::numeric, w_awr_ong_qal_label, w_awr_ong_qal_weight_fraction::numeric, w_awr_ong_rrr_raw::numeric, w_awr_ong_rrr_score::numeric, w_awr_ong_rrr_cat::numeric, w_awr_ong_rrr_label, w_awr_ong_rrr_weight_fraction::numeric, w_awr_ong_tot_raw::numeric, w_awr_ong_tot_score::numeric, w_awr_ong_tot_cat::numeric, w_awr_ong_tot_label, w_awr_ong_tot_weight_fraction::numeric, w_awr_smc_qan_raw::numeric, w_awr_smc_qan_score::numeric, w_awr_smc_qan_cat::numeric, w_awr_smc_qan_label, w_awr_smc_qan_weight_fraction::numeric, w_awr_smc_qal_raw::numeric, w_awr_smc_qal_score::numeric, w_awr_smc_qal_cat::numeric, w_awr_smc_qal_label, w_awr_smc_qal_weight_fraction::numeric, w_awr_smc_rrr_raw::numeric, w_awr_smc_rrr_score::numeric, w_awr_smc_rrr_cat::numeric, w_awr_smc_rrr_label, w_awr_smc_rrr_weight_fraction::numeric, w_awr_smc_tot_raw::numeric, w_awr_smc_tot_score::numeric, w_awr_smc_tot_cat::numeric, w_awr_smc_tot_label, w_awr_smc_tot_weight_fraction::numeric, w_awr_tex_qan_raw::numeric, w_awr_tex_qan_score::numeric, w_awr_tex_qan_cat::numeric, w_awr_tex_qan_label, w_awr_tex_qan_weight_fraction::numeric, w_awr_tex_qal_raw::numeric, w_awr_tex_qal_score::numeric, w_awr_tex_qal_cat::numeric, w_awr_tex_qal_label, w_awr_tex_qal_weight_fraction::numeric, w_awr_tex_rrr_raw::numeric, w_awr_tex_rrr_score::numeric, w_awr_tex_rrr_cat::numeric, w_awr_tex_rrr_label, w_awr_tex_rrr_weight_fraction::numeric, w_awr_tex_tot_raw::numeric, w_awr_tex_tot_score::numeric, w_awr_tex_tot_cat::numeric, w_awr_tex_tot_label, w_awr_tex_tot_weight_fraction::numeric, b.the_geom::geometry FROM wri a LEFT JOIN bsn_aqui b on a.points_id=b.points_id';

	END

$$ language 'plpgsql';
```                                    

**Final query**

`Sql Example:`
```sql
SELECT * FROM get_aqpoints_annual_02('[''POINT(0.3515 41.3768)'', ''POINT(2.4169 49.7528)'', ''POINT(-16.3037 14.9023)'']',
                                     '[''Location_1'', ''Location_2'', ''Location_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']')
```

`Sql Template:`
``` sql
SELECT * FROM get_aqpoints_annual({points_array}, {locations_array}, {input_address_array}, {match_address_array})
```

## Predefined Monthly

`Sql:`

```sql
with r as (SELECT unnest(Array['POINT(-4.0429 39.9097)', 'POINT(10.0195 51.3992)', 'POINT(-6.5039 32.8426)']) as points,
                  unnest(Array['Location_1', 'Location_2', 'Location_3']) as location_name,
                  unnest(Array['address_1', 'address_2', 'address_3']) as input_address,
                  unnest(Array['address_1', 'address_2', 'address_3']) as match_address),
points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom 
           FROM r),
        wri as (SELECT points_id::numeric, r.*
                FROM water_risk_indicators_monthly r
                LEFT JOIN y2018m12d06_rh_master_shape_v01 g on r.pfaf_id=g.pfaf_id
                RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom)
                WHERE r.month = 1
               ),
  countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1     
                FROM gadm_wri r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)  
               ),                                  
     basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name           
                FROM hydrobasins_fao_fiona_merged_v01 r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
               ),
   aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name        
                FROM aquifer_names_simple_v01 r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
               ),
cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1      
                FROM basins a
                LEFT JOIN aquifers b on a.points_id=b.points_id
                LEFT JOIN countries c on a.points_id=c.points_id 
               )                                 
                                 
SELECT location_name,
       input_address,
       match_address,
	   ST_y(b.the_geom) as latitude,
       ST_x(b.the_geom) as longitude, 
       major_basin_name, 
       minor_basin_name,
       aquifer_name,
       pfaf_id,
       gid_1,
       gid_0,
       name_0,
       name_1,
       month,
       bws_raw,
       bws_score,
       bws_cat,
       bws_label,
       bwd_raw,
       bwd_score,
       bwd_cat,
       bwd_label,
       iav_raw,
       iav_score,
       iav_cat,
       iav_label,
       b.the_geom                  
FROM wri a 
LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id                             
```

**Create a function**

We create a function in carto to deal with all this operations.

* **1 month**

```sql
DROP FUNCTION get_aqpoints_monthly_02(month TEXT, points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT);

DROP TYPE point_intersection_monthly_02;

CREATE TYPE point_intersection_monthly_02 AS (location_name text, input_address text, match_address text, latitude numeric, longitude numeric,  major_basin_name text,  minor_basin_name text, aquifer_name text, pfaf_id numeric, gid_1 text, gid_0 text, name_0 text, name_1 text, month numeric, bws_raw numeric, bws_score numeric, bws_cat numeric, bws_label text, bwd_raw numeric, bwd_score numeric, bwd_cat numeric, bwd_label text, iav_raw numeric, iav_score numeric, iav_cat numeric, iav_label text, the_geom geometry);

CREATE OR REPLACE FUNCTION get_aqpoints_monthly_02(month TEXT, points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT)
	RETURNS SETOF point_intersection_monthly_02 as $$
	BEGIN
	RETURN query EXECUTE  'with r as (SELECT unnest(Array'|| points_array ||') as points, unnest(Array'|| locations_array ||') as location_name, unnest(Array'|| input_address_array ||') as input_address, unnest(Array'|| match_address_array ||') as match_address), points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom FROM r), wri as (SELECT points_id::numeric, r.* FROM water_risk_indicators_monthly r LEFT JOIN y2018m12d06_rh_master_shape_v01 g on r.pfaf_id=g.pfaf_id RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom) WHERE r.month = '|| month ||'), countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1 FROM gadm_wri r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name FROM hydrobasins_fao_fiona_merged_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name FROM aquifer_names_simple_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1 FROM basins a LEFT JOIN aquifers b on a.points_id=b.points_id LEFT JOIN countries c on a.points_id=c.points_id) SELECT location_name, input_address, match_address, ST_y(b.the_geom)::numeric as latitude, ST_x(b.the_geom)::numeric as longitude, major_basin_name, minor_basin_name, aquifer_name, pfaf_id::numeric, gid_1, gid_0, name_0, name_1, month::numeric, bws_raw::numeric, bws_score::numeric, bws_cat::numeric, bws_label, bwd_raw::numeric, bwd_score::numeric, bwd_cat::numeric, bwd_label, iav_raw::numeric, iav_score::numeric, iav_cat::numeric, iav_label, b.the_geom::geometry FROM wri a LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id ';

	END

$$ language 'plpgsql';
```

**Final query**

`Sql Example:`
```sql
SELECT * FROM get_aqpoints_monthly_02('1','[''POINT(0.3515 41.3768)'', ''POINT(2.4169 49.7528)'', ''POINT(-16.3037 14.9023)'']',
                                     '[''Location_1'', ''Location_2'', ''Location_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']')
```

`Sql Template:`
``` sql
SELECT * FROM get_aqpoints_monthly_02({month}, {points_array}, {locations_array}, {input_address_array}, {match_address_array})
```

* **All months**

```sql
DROP FUNCTION get_aqpoints_monthly_all(points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT);

DROP TYPE point_intersection_monthly_all;

CREATE TYPE point_intersection_monthly_all AS (location_name text, input_address text, match_address text, latitude numeric, longitude numeric,  major_basin_name text,  minor_basin_name text, aquifer_name text, pfaf_id numeric, gid_1 text, gid_0 text, name_0 text, name_1 text, month numeric, bws_raw numeric, bws_score numeric, bws_cat numeric, bws_label text, bwd_raw numeric, bwd_score numeric, bwd_cat numeric, bwd_label text, iav_raw numeric, iav_score numeric, iav_cat numeric, iav_label text, the_geom geometry);

CREATE OR REPLACE FUNCTION get_aqpoints_monthly_all(points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT)
	RETURNS SETOF point_intersection_monthly_all as $$
	BEGIN
	RETURN query EXECUTE  'with r as (SELECT unnest(Array'|| points_array ||') as points, unnest(Array'|| locations_array ||') as location_name, unnest(Array'|| input_address_array ||') as input_address, unnest(Array'|| match_address_array ||') as match_address), points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom FROM r), wri as (SELECT points_id::numeric, r.* FROM water_risk_indicators_monthly r LEFT JOIN y2018m12d06_rh_master_shape_v01 g on r.pfaf_id=g.pfaf_id RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom)), countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1 FROM gadm_wri r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name FROM hydrobasins_fao_fiona_merged_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name FROM aquifer_names_simple_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1 FROM basins a LEFT JOIN aquifers b on a.points_id=b.points_id LEFT JOIN countries c on a.points_id=c.points_id) SELECT location_name, input_address, match_address, ST_y(b.the_geom)::numeric as latitude, ST_x(b.the_geom)::numeric as longitude, major_basin_name, minor_basin_name, aquifer_name, pfaf_id::numeric, gid_1, gid_0, name_0, name_1, month::numeric, bws_raw::numeric, bws_score::numeric, bws_cat::numeric, bws_label, bwd_raw::numeric, bwd_score::numeric, bwd_cat::numeric, bwd_label, iav_raw::numeric, iav_score::numeric, iav_cat::numeric, iav_label, b.the_geom::geometry FROM wri a LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id ORDER BY month, a.points_id';

	END

$$ language 'plpgsql';
```

**Final query**

`Sql Example:`
```sql
SELECT * FROM get_aqpoints_monthly_all('[''POINT(0.3515 41.3768)'', ''POINT(2.4169 49.7528)'', ''POINT(-16.3037 14.9023)'']',
                                     '[''Location_1'', ''Location_2'', ''Location_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']')
```

`Sql Template:`
``` sql
SELECT * FROM get_aqpoints_monthly_all({points_array}, {locations_array}, {input_address_array}, {match_address_array})
```

## Projected Changes

`Sql:`
```sql
with r as (SELECT unnest(Array['POINT(-4.0429 39.9097)', 'POINT(10.0195 51.3992)', 'POINT(-6.5039 32.8426)']) as points,
                  unnest(Array['Location_1', 'Location_2', 'Location_3']) as location_name,
                  unnest(Array['address_1', 'address_2', 'address_3']) as input_address,
                  unnest(Array['address_1', 'address_2', 'address_3']) as match_address),
points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom 
           FROM r),
        wri as (SELECT points_id::numeric, r.*
                FROM water_risk_indicators_projections r
                LEFT JOIN wri_subcatchements g on r.basinid=g.basinid
                RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom)
                WHERE year = 2030 and type = 'change_from_baseline' and indicator = 'water_stress' and scenario = 'business_as_usual'
               ),
  countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1                
                FROM gadm_wri r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)  
               ),                                  
     basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name                  
                FROM hydrobasins_fao_fiona_merged_v01 r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
               ),
   aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name 
                FROM aquifer_names_simple_v01 r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
               ),
cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1   
                FROM basins a
                LEFT JOIN aquifers b on a.points_id=b.points_id
                LEFT JOIN countries c on a.points_id=c.points_id 
               )                                  

SELECT location_name,
       input_address,
       match_address,
	   ST_y(b.the_geom) as latitude,
       ST_x(b.the_geom) as longitude, 
       major_basin_name, 
       minor_basin_name,
       aquifer_name,
       basinid,
       gid_1,
       gid_0,
       name_0,
       name_1,
       year,
       indicator,
       type,
       scenario,
       value::numeric as raw,
       label,
       b.the_geom                        
FROM wri a 
LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id
```                                  
                  
**Create a function**

We create a function in carto to deal with all this operations.

* **1 layer**

```sql
DROP FUNCTION get_aqpoints_projected_02(year TEXT, type TEXT, indicator TEXT, scenario TEXT, points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT);

DROP TYPE point_intersection_projected_02;

CREATE TYPE point_intersection_projected_02 AS (location_name text, input_address text, match_address text, latitude numeric, longitude numeric,  major_basin_name text,  minor_basin_name text, aquifer_name text, basinid numeric, gid_1 text, gid_0 text, name_0 text, name_1 text, year numeric, indicator text, type text, scenario text, raw numeric, label text, the_geom geometry);

CREATE OR REPLACE FUNCTION get_aqpoints_projected_02(year TEXT, type TEXT, indicator TEXT, scenario TEXT, points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT)
	RETURNS SETOF point_intersection_projected_02 as $$
	BEGIN
	RETURN query EXECUTE  'with r as (SELECT unnest(Array'|| points_array ||') as points, unnest(Array'|| locations_array ||') as location_name, unnest(Array'|| input_address_array ||') as input_address, unnest(Array'|| match_address_array ||') as match_address), points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom FROM r), wri as (SELECT points_id::numeric, r.* FROM water_risk_indicators_projections r LEFT JOIN wri_subcatchements g on r.basinid=g.basinid RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom) WHERE year = '|| year ||' and type = '|| type ||' and indicator = '|| indicator ||' and scenario = '|| scenario ||'), countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1 FROM gadm_wri r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name FROM hydrobasins_fao_fiona_merged_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name FROM aquifer_names_simple_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1 FROM basins a LEFT JOIN aquifers b on a.points_id=b.points_id LEFT JOIN countries c on a.points_id=c.points_id) SELECT location_name, input_address, match_address, ST_y(b.the_geom)::numeric as latitude, ST_x(b.the_geom)::numeric as longitude, major_basin_name, minor_basin_name, aquifer_name, basinid::numeric, gid_1, gid_0, name_0, name_1, year::numeric, indicator, type, scenario, value::numeric as raw, label, b.the_geom::geometry FROM wri a LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id';

	END

$$ language 'plpgsql';
```

`Sql Example:`
```sql
SELECT * FROM get_aqpoints_projected_02('2030', '''change_from_baseline''', '''water_stress''', '''business_as_usual''', 
                                     '[''POINT(0.3515 41.3768)'', ''POINT(2.4169 49.7528)'', ''POINT(-16.3037 14.9023)'']',
                                     '[''Location_1'', ''Location_2'', ''Location_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']',
                                     '[''address_1'', ''address_2'', ''address_3'']')
```

`Sql Template:`
``` sql
SELECT * FROM get_aqpoints_projected_02({year}, {type}, {indicator}, {scenario}, {points_array}, {locations_array}, {input_address_array}, {match_address_array})
```

* **All**


```sql
DROP FUNCTION get_aqpoints_projected_all(points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT);

DROP TYPE point_intersection_projected_all;

CREATE TYPE point_intersection_projected_all AS (location_name text, input_address text, match_address text, latitude numeric, longitude numeric,  major_basin_name text,  minor_basin_name text, aquifer_name text, basinid numeric, gid_1 text, gid_0 text, name_0 text, name_1 text, year numeric, indicator text, type text, scenario text, raw numeric, label text, the_geom geometry);

CREATE OR REPLACE FUNCTION get_aqpoints_projected_all(points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT)
	RETURNS SETOF point_intersection_projected_all as $$
	BEGIN
	RETURN query EXECUTE  'with r as (SELECT unnest(Array'|| points_array ||') as points, unnest(Array'|| locations_array ||') as location_name, unnest(Array'|| input_address_array ||') as input_address, unnest(Array'|| match_address_array ||') as match_address), points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom FROM r), wri as (SELECT points_id::numeric, r.* FROM water_risk_indicators_projections r LEFT JOIN wri_subcatchements g on r.basinid=g.basinid RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom)), countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1 FROM gadm_wri r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name FROM hydrobasins_fao_fiona_merged_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name FROM aquifer_names_simple_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1 FROM basins a LEFT JOIN aquifers b on a.points_id=b.points_id LEFT JOIN countries c on a.points_id=c.points_id) SELECT location_name, input_address, match_address, ST_y(b.the_geom)::numeric as latitude, ST_x(b.the_geom)::numeric as longitude, major_basin_name, minor_basin_name, aquifer_name, basinid::numeric, gid_1, gid_0, name_0, name_1, year::numeric, indicator, type, scenario, value::numeric as raw, label, b.the_geom::geometry FROM wri a LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id ORDER BY year, indicator, type, scenario, a.points_id';

	END

$$ language 'plpgsql';
```

`Sql Example:`
```sql
SELECT * FROM get_aqpoints_projected_all('[''POINT(0.3515 41.3768)'', ''POINT(2.4169 49.7528)'', ''POINT(-16.3037 14.9023)'']',
                                         '[''Location_1'', ''Location_2'', ''Location_3'']',
                                         '[''address_1'', ''address_2'', ''address_3'']',
                                         '[''address_1'', ''address_2'', ''address_3'']')
```

`Sql Template:`
``` sql
SELECT * FROM get_aqpoints_projected_all({year}, {type}, {indicator}, {scenario}, {points_array}, {locations_array}, {input_address_array}, {match_address_array})
```

## Custom annual

`Sql:`

```sql
with a as (SELECT unnest(Array['POINT(-4.0429 39.9097)', 'POINT(10.0195 51.3992)', 'POINT(-6.5039 32.8426)']) as points,
                  unnest(Array['Location_1', 'Location_2', 'Location_3']) as location_name,
                  unnest(Array['address_1', 'address_2', 'address_3']) as input_address,
                  unnest(Array['address_1', 'address_2', 'address_3']) as match_address),
points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom 
           FROM a),
          r as (SELECT * FROM (
                               SELECT unnest(Array[4.0, 4.0, 2.0, 0.5, 4.0, 4.0, 1.0, 1.0, null, null, null, null, null]) as weights,
                                      unnest(Array['bws', 'bwd', 'iav', 'sev', 'gtd', 'drr', 'rfr', 'cfr', 'ucw', 'cep', 'udw', 'usa', 'rri']) as indicator
                              ) as a 
                WHERE weights is not null
               ),
          s as (SELECT indicator, weights/sum_weights as weight_fraction
                FROM (
                 SELECT sum(weights) over () as sum_weights,  weights, indicator
                 FROM r
                     ) as a
                ),
          u as (SELECT aq30_id, string_id, sum(weight_fraction) as weight_fraction, sum(weighted_score) as weighted_score
                FROM (
                      SELECT t.group_short, t.indicator, t.score, t.aq30_id, t.string_id, s.weight_fraction, t.score*s.weight_fraction as weighted_score
                      FROM water_risk_indicators_normalized t
                      LEFT JOIN s on t.indicator=s.indicator
                     ) as u
                GROUP BY aq30_id, string_id
               ),
         w as  (SELECT aq30_id, string_id, weighted_score/weight_fraction as raw
               FROM u
               ),   
         v as  (SELECT w.*,
                CASE 
                    WHEN (w.raw <= 5) and  (w.raw > 2.674522) THEN 'High'
                    WHEN (w.raw <= 2.674522) and  (w.raw > 2.101208) THEN 'Medium - High'
                    WHEN (w.raw <= 2.101208) and  (w.raw > 1.607256) THEN 'Medium'
                    WHEN (w.raw <= 1.607256) and  (w.raw > 1.000960) THEN 'Low - Medium'
                    WHEN (w.raw <= 1.000960) and  (w.raw > 0) THEN 'Low'
                    WHEN (w.raw <= 0) and  (w.raw > -1) THEN 'Arid and Low Water Use'
                    WHEN w.raw <= -1 THEN 'No Data'
                END as label
               FROM w
               ),  
        wri as (SELECT points_id::numeric, v.*
                FROM v
                LEFT JOIN y2018m12d06_rh_master_shape_v01 g on v.aq30_id=g.aq30_id
                RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom)
                ORDER BY aq30_id  
               ),
  countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1           
                FROM gadm_wri r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)  
               ),                                  
     basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name            
                FROM hydrobasins_fao_fiona_merged_v01 r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
               ),
   aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name         
                FROM aquifer_names_simple_v01 r
                RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)   
               ),
cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1  
                FROM basins a
                LEFT JOIN aquifers b on a.points_id=b.points_id
                LEFT JOIN countries c on a.points_id=c.points_id 
               )                                  
                                 
SELECT location_name,
       input_address,
       match_address,
       ST_y(b.the_geom) as latitude,
       ST_x(b.the_geom) as longitude, 
       major_basin_name, 
       minor_basin_name,
       aquifer_name,
       string_id,
       aq30_id,
       gid_1,
       gid_0,
       name_0,
       name_1,
       a.raw::numeric, 
       a.label,
       b.the_geom                                            
FROM wri a 
LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id
```

**Create a function**

We create a function in carto to deal with all this operations.

```sql
DROP FUNCTION get_aqpoints_annual_custom_02(weights_array TEXT, points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT);

DROP TYPE point_intersection_annual_custom_02;

CREATE TYPE point_intersection_annual_custom_02 AS (location_name text, input_address text, match_address text, latitude numeric, longitude numeric,  major_basin_name text,  minor_basin_name text, aquifer_name text, string_id text, aq30_id numeric, gid_1 text, gid_0 text, name_0 text, name_1 text, raw numeric, label text, the_geom geometry);

CREATE OR REPLACE FUNCTION get_aqpoints_annual_custom_02(weights_array TEXT, points_array TEXT, locations_array TEXT, input_address_array TEXT, match_address_array TEXT)
	RETURNS SETOF point_intersection_annual_custom_02 as $$
	BEGIN
	RETURN query EXECUTE  'with a as (SELECT unnest(Array'|| points_array ||') as points, unnest(Array'|| locations_array ||') as location_name, unnest(Array'|| input_address_array ||') as input_address, unnest(Array'|| match_address_array ||') as match_address), points as (SELECT row_number() over () as points_id, location_name, input_address, match_address, st_setsrid(st_geomfromtext(points),4326) as the_geom FROM a), r as (SELECT * FROM (SELECT unnest(Array'|| weights_array ||') as weights, unnest(Array[''bws'', ''bwd'', ''iav'', ''sev'', ''gtd'', ''drr'', ''rfr'', ''cfr'', ''ucw'', ''cep'', ''udw'', ''usa'', ''rri'']) as indicator) as a WHERE weights is not null), s as (SELECT indicator, weights/sum_weights as weight_fraction FROM (SELECT sum(weights) over () as sum_weights,  weights, indicator FROM r) as a), u as (SELECT aq30_id, string_id, sum(weight_fraction) as weight_fraction, sum(weighted_score) as weighted_score FROM (SELECT t.group_short, t.indicator, t.score, t.aq30_id, t.string_id, s.weight_fraction, t.score*s.weight_fraction as weighted_score FROM water_risk_indicators_normalized t LEFT JOIN s on t.indicator=s.indicator) as u GROUP BY aq30_id, string_id), w as  (SELECT aq30_id, string_id, weighted_score/weight_fraction as raw FROM u), v as  (SELECT w.*, CASE WHEN (w.raw <= 5) and  (w.raw > 2.674522) THEN ''High'' WHEN (w.raw <= 2.674522) and  (w.raw > 2.101208) THEN ''Medium - High'' WHEN (w.raw <= 2.101208) and  (w.raw > 1.607256) THEN ''Medium'' WHEN (w.raw <= 1.607256) and  (w.raw > 1.000960) THEN ''Low - Medium'' WHEN (w.raw <= 1.000960) and  (w.raw > 0) THEN ''Low'' WHEN (w.raw <= 0) and  (w.raw > -1) THEN ''Arid and Low Water Use'' WHEN w.raw <= -1 THEN ''No Data'' END as label FROM w), wri as (SELECT points_id::numeric, v.* FROM v LEFT JOIN y2018m12d06_rh_master_shape_v01 g on v.aq30_id=g.aq30_id RIGHT JOIN points on  st_intersects(g.the_geom, points.the_geom) ORDER BY aq30_id ), countries as (SELECT points_id::numeric, points.the_geom, r.name_0, r.name_1, r.gid_0, r.gid_1 FROM gadm_wri r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), basins as (SELECT points_id::numeric, points.the_geom, points.location_name, points.input_address, points.match_address, r.maj_name as major_basin_name, r.sub_name as minor_basin_name FROM hydrobasins_fao_fiona_merged_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), aquifers as (SELECT points_id::numeric, r.major_aquifer_system_name FROM aquifer_names_simple_v01 r RIGHT JOIN points on  st_intersects(r.the_geom, points.the_geom)), cty_bsn_aqui as (SELECT a.points_id, a.the_geom, a.location_name, a.input_address, a.match_address, a.major_basin_name, a.minor_basin_name, b.major_aquifer_system_name as aquifer_name, c.name_0, c.name_1, c.gid_0, c.gid_1  FROM basins a LEFT JOIN aquifers b on a.points_id=b.points_id LEFT JOIN countries c on a.points_id=c.points_id) SELECT location_name, input_address, match_address, ST_y(b.the_geom)::numeric as latitude, ST_x(b.the_geom)::numeric as longitude, major_basin_name, minor_basin_name, aquifer_name, string_id, aq30_id::numeric, gid_1, gid_0, name_0, name_1,raw::numeric, label, b.the_geom::geometry FROM wri a LEFT JOIN cty_bsn_aqui b on a.points_id=b.points_id
';

	END

$$ language 'plpgsql';
```

**Final query**

`Sql Example:`
```sql
SELECT * FROM get_aqpoints_annual_custom_02('[4.0, 4.0, 2.0, 0.5, 4.0, 4.0, 1.0, 1.0, null, null, null, null, null]', 
                                         '[''POINT(0.3515 41.3768)'', ''POINT(2.4169 49.7528)'', ''POINT(-16.3037 14.9023)'']',
                                         '[''Location_1'', ''Location_2'', ''Location_3'']',
                                         '[''address_1'', ''address_2'', ''address_3'']',
                                         '[''address_1'', ''address_2'', ''address_3'']')
```

`Sql Template:`
``` sql
SELECT * FROM get_aqpoints_annual_custom_02({weights_array}, {points_array}, {locations_array}, {input_address_array}, {match_address_array})
```