# Water Risk Tables

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

##  Framework structure

The structure of the framework is as follows. Below we used the default weighting schemes for the groups (quantity, quality and regulatory reputational) and the overall water risk.

Overall Water Risk (100%)
- Water Quantity Risk (69.4%)
    - Baseline Water Stress (16.3%) 
    - Baseline Water Depletion (16.3%)
    - Groundwater Table Decline (16.3%)
    - Interannual Variability (2.0%)
    - Seasonal Variability (2.0%)
    - Drought Risk (8.2%)
    - Riverine Flood Risk (4.1%)
    - Coastal Flood Risk (4.1%)

- Water Quality Risk (12.2%)
    - Untreated Collected Wastewater (8.2%)
    - Coastal Eutrophication Potential (4.1%)

- Regulatory and Reputational (18.4%)
    - Unimproved/no drinking water (8.2%)
    - Unimproved/no sanitation (8.2%)
    - RepRisk Index (2.0%)
    

**Group names**

|Group full 	               |Group short    |
|------------------------------|---------------|
|Overall Water Risk            |TOT            |
|Water Quantity Risk           |QAN            |
|Water Quality Risk            |QAL            |
|Regulatory and Reputational   |RRR            |

**Indicator names**

|Indicator full 	                 |Indicator short    |
|------------------------------------|-------------------|
|Baseline Water Stress               |bws                |    
|Baseline Water Depletion            |bwd                |
|Groundwater Table Decline           |gtd                |
|Interannual Variability             |iav                |
|Seasonal Variability                |sev                |
|Drought Risk                        |drr                |
|Riverine Flood Risk                 |rfr                |
|Coastal Flood Risk                  |cfr                |
|Untreated Collected Wastewater      |ucw                |
|Coastal Eutrophication Potential    |cep                |
|Unimproved/no drinking water        |udw                |
|Unimproved/no sanitation            |usa                |
|RepRisk Index                       |rri                |

## Weighting Scheme

**Weight names**

|Industry full 	         |Industry short |
|------------------------|---------------|
|Default                 |DEF            |
|Argiculture             |AGR            |
|Electric Power          |ELP            |
|Semiconductor           |SMC            |
|Oil and gas             |ONG            |
|Chemical                |CHE            |
|Mining                  |MIN            |
|Food and beverage       |FNB            |
|Construction materials  |CON            |
|Textile                 |TEX            |

## Annual data

In [82]:
annual_pivot = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/annual/annual_pivot.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Clean table**

In [84]:
columns_default = ['aq30_id']
cols = filter(lambda x:x.endswith(tuple(["_cat", "_label"])), list(annual_pivot.columns))

for n, col in enumerate(list(cols)):    
    columns_default.append(col)

In [85]:
annual_pivot_default = annual_pivot[columns_default]

In [87]:
annual_pivot_default[1000:1005]

,aq30_id,bwd_cat,bwd_label,bws_cat,bws_label,cep_cat,cep_label,cfr_cat,cfr_label,drr_cat,...,w_awr_smc_tot_cat,w_awr_smc_tot_label,w_awr_tex_qal_cat,w_awr_tex_qal_label,w_awr_tex_qan_cat,w_awr_tex_qan_label,w_awr_tex_rrr_cat,w_awr_tex_rrr_label,w_awr_tex_tot_cat,w_awr_tex_tot_label
1000,6555,0.0,Low,0.0,Low,2.0,Medium to high (0 to +1),0.0,"Low (0 to 9 in 1,000,000)",NaN,...,3.0,Medium - High,4.0,High,2.0,Medium,2.0,Medium,3.0,Medium - High
1001,6591,0.0,Low,0.0,Low,2.0,Medium to high (0 to +1),0.0,"Low (0 to 9 in 1,000,000)",NaN,...,3.0,Medium - High,4.0,High,2.0,Medium,2.0,Medium,3.0,Medium - High
1002,2383,0.0,Low,0.0,Low,2.0,Medium to high (0 to +1),0.0,"Low (0 to 9 in 1,000,000)",2.0,...,4.0,High,4.0,High,2.0,Medium,4.0,High,4.0,High
1003,4187,1.0,Low - Medium,1.0,Low - Medium,1.0,Low to medium (-5 to 0),0.0,"Low (0 to 9 in 1,000,000)",1.0,...,4.0,High,4.0,High,2.0,Medium,4.0,High,4.0,High
1004,4195,1.0,Low - Medium,1.0,Low - Medium,1.0,Low to medium (-5 to 0),0.0,"Low (0 to 9 in 1,000,000)",2.0,...,4.0,High,4.0,High,2.0,Medium,4.0,High,4.0,High

**Add `string_id` and `gid_1`**

In [88]:
df_ids = gpd.read_file('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/Y2018M12D06_RH_Master_Shape_V01/output_V02/Y2018M12D06_RH_Master_Shape_V01.shp')

In [89]:
df_ids.drop(columns=['aqid', 'type', 'geometry'], inplace=True)
df_ids.head(1)

   aq30_id     gid_1  pfaf_id             string_id
0        0  EGY.11_1   111011  111011-EGY.11_1-3365

In [91]:
annual_pivot_default = pd.merge(left=annual_pivot_default,
                right=df_ids,
                on = "aq30_id",
                how = "left")
annual_pivot_default[1000:1005]

,aq30_id,bwd_cat,bwd_label,bws_cat,bws_label,cep_cat,cep_label,cfr_cat,cfr_label,drr_cat,...,w_awr_tex_qal_label,w_awr_tex_qan_cat,w_awr_tex_qan_label,w_awr_tex_rrr_cat,w_awr_tex_rrr_label,w_awr_tex_tot_cat,w_awr_tex_tot_label,gid_1,pfaf_id,string_id
1000,6555,0.0,Low,0.0,Low,2.0,Medium to high (0 to +1),0.0,"Low (0 to 9 in 1,000,000)",NaN,...,High,2.0,Medium,2.0,Medium,3.0,Medium - High,NER.1_1,142651,142651-NER.1_1-2029
1001,6591,0.0,Low,0.0,Low,2.0,Medium to high (0 to +1),0.0,"Low (0 to 9 in 1,000,000)",NaN,...,High,2.0,Medium,2.0,Medium,3.0,Medium - High,NER.1_1,142670,142670-NER.1_1-2029
1002,2383,0.0,Low,0.0,Low,2.0,Medium to high (0 to +1),0.0,"Low (0 to 9 in 1,000,000)",2.0,...,High,2.0,Medium,4.0,High,4.0,High,AGO.15_1,122943,122943-AGO.15_1-2456
1003,4187,1.0,Low - Medium,1.0,Low - Medium,1.0,Low to medium (-5 to 0),0.0,"Low (0 to 9 in 1,000,000)",1.0,...,High,2.0,Medium,4.0,High,4.0,High,AGO.3_1,129980,129980-AGO.3_1-3342
1004,4195,1.0,Low - Medium,1.0,Low - Medium,1.0,Low to medium (-5 to 0),0.0,"Low (0 to 9 in 1,000,000)",2.0,...,High,2.0,Medium,4.0,High,4.0,High,AGO.3_1,129990,129990-AGO.3_1-3342

**Save tables**

In [93]:
annual_pivot_default.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_annual.csv')

## Monthly data

In [61]:
monthly_bws = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/monthly/monthly_bws.csv')
monthly_bwd = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/monthly/monthly_bwd.csv')
monthly_iav = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/monthly/monthly_iav.csv')

In [62]:
monthly_bws.head()

,Unnamed: 0,pfaf_id,temporal_resolution,year,month,delta_id,raw,score,cat,label
0,0,913430,month,2014,1,-1,NaN,-9999.0,-9999.0,NoData
1,1,913430,month,2014,2,-1,NaN,-9999.0,-9999.0,NoData
2,2,913430,month,2014,3,-1,NaN,-9999.0,-9999.0,NoData
3,3,913430,month,2014,4,-1,NaN,-9999.0,-9999.0,NoData
4,4,913430,month,2014,5,-1,NaN,-9999.0,-9999.0,NoData

**Clean table**

In [63]:
monthly_bws = monthly_bws[['pfaf_id', 'year', 'month', 'cat', 'label']]
monthly_bwd = monthly_bwd[['pfaf_id', 'year', 'month', 'cat', 'label']]
monthly_iav = monthly_iav[['pfaf_id', 'year', 'month', 'cat', 'label']]

In [64]:
monthly_bws.rename(columns={'cat': 'bws_cat', 'label': 'bws_label'}, inplace= True)
monthly_bwd.rename(columns={'cat': 'bwd_cat', 'label': 'bwd_label'}, inplace= True)
monthly_iav.rename(columns={'cat': 'iav_cat', 'label': 'iav_label'}, inplace= True)

In [65]:
monthly = monthly_bws.merge(monthly_bwd, on=['pfaf_id', 'year', 'month'], how='left')
monthly = monthly.merge(monthly_iav, on=['pfaf_id', 'year', 'month'], how='left')

In [66]:
monthly[100100:100105]

,pfaf_id,year,month,bws_cat,bws_label,bwd_cat,bwd_label,iav_cat,iav_label
100100,312414,2014,9,0.0,Low,0.0,Low,0.0,Low
100101,312414,2014,12,0.0,Low,0.0,Low,1.0,Low - Medium
100102,312414,2014,2,0.0,Low,0.0,Low,1.0,Low - Medium
100103,312414,2014,5,0.0,Low,0.0,Low,1.0,Low - Medium
100104,312414,2014,4,0.0,Low,0.0,Low,4.0,Extremely High

**Save tables**

In [23]:
monthly.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_monthly.csv')

In [ ]:
industry_weights = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/industry_weights/industry_weights.csv')

In [ ]:
industry_weights.drop(labels=['Unnamed: 0', 'id'], axis=1, inplace=True)

In [ ]:
industry_weights.head()

**Save table**

In [ ]:
industry_weights.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_industry_weights.csv')

## Future projections

In [80]:
projections = gpd.read_file('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/aqueduct_projections_20150309_shp/aqueduct_projections_20150309.shp')

In [81]:
projections.head()

,BasinID,dwnBasinID,Area_km2,Shape_Leng,ws2024tr,ws2024tl,ws3024tr,ws3024tl,ws4024tr,ws4024tl,...,sv4028ul,sv2038ur,sv2038ul,sv3038ur,sv3038ul,sv4038ur,sv4038ul,Shape_Le_1,Shape_Area,geometry
0,1,0,2085,0.0,0.860153,Extremely high (>80%),1.058204,Extremely high (>80%),1.098187,Extremely high (>80%),...,High uncertainty,0.276085,High uncertainty,0.303592,High uncertainty,0.304096,High uncertainty,4.197305,0.196370,"POLYGON ((25.95064506611698 30.98011437727672,..."
1,2,0,2373,0.0,3.257008,Extremely high (>80%),3.086548,Extremely high (>80%),2.947359,Extremely high (>80%),...,High uncertainty,0.234488,High uncertainty,0.253703,High uncertainty,0.264467,High uncertainty,3.597165,0.223965,"POLYGON ((25.23877293911988 31.29694755848311,..."
2,3,0,1509,0.0,2.595165,Extremely high (>80%),2.786326,Extremely high (>80%),2.517074,Extremely high (>80%),...,High uncertainty,0.276976,High uncertainty,0.304777,High uncertainty,0.304962,High uncertainty,2.478102,0.142297,(POLYGON ((26.94685809182755 31.21755797312204...
3,4,0,4113,0.0,1.327963,Extremely high (>80%),1.492594,Extremely high (>80%),1.520199,Extremely high (>80%),...,High uncertainty,0.242970,High uncertainty,0.263880,High uncertainty,0.255351,High uncertainty,4.621268,0.386641,"POLYGON ((27.6227709095499 30.5666504388667, 2..."
4,5,0,4454,0.0,0.418429,Arid and low water use,0.684660,Arid and low water use,0.943055,Arid and low water use,...,High uncertainty,0.279182,High uncertainty,0.294587,High uncertainty,0.287821,High uncertainty,4.833261,0.417697,"POLYGON ((27.6227709095499 30.5666504388667, 2..."

**Table reconfiguration**

In [ ]:
indicator_codes = {'ws': 'water_stress', 'sv': 'seasonal_variability', 'ut': 'water_demand', 'bt': 'water_supply'}
year_codes = {'20': 2020, '30': 2030, '40': 2040}
scenario_codes = {'24': 'optimistic', '28': 'business_as_usual', '38': 'pessimistic'}
data_types = {'c': 'change_from_baseline', 't': 'future_value'}
suffixes = {'l': 'label', 'r': 'value'}

projections_vertical = pd.DataFrame(columns=['basinid', 'indicator', 'value', 'label', 'year', 'scenario', 'type'])

nRows = projections.shape[0]
basinid_col = list(projections['BasinID'])
for indicator in indicator_codes.keys():
    indicator_col = [indicator_codes[indicator]] * nRows
    for year in year_codes.keys():
        year_col = [year_codes[year]] * nRows
        
        for scenario in scenario_codes.keys():
            scenario_col = [scenario_codes[scenario]] * nRows
            
            for type in data_types.keys():
                type_col = [data_types[type]] * nRows
                
                label_col = list(projections[indicator+year+scenario+type+list(suffixes.keys())[0]])
                value_col = list(projections[indicator+year+scenario+type+list(suffixes.keys())[1]])
                
                df = pd.DataFrame({'basinid': basinid_col, 'indicator': indicator_col, 'value': value_col, 
                                   'label': label_col, 'year': year_col, 'scenario': scenario_col, 'type': type_col})
                
                projections_vertical = pd.concat([projections_vertical, df])

projections_vertical['basinid'] = projections_vertical['basinid'].astype(np.int)
projections_vertical.head()

In [ ]:
df[(df['indicator'] == 'water_supply') & (df['type'] == 'future_value')]['label'].unique()

**Save table**

In [ ]:
projections_vertical.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_projections.csv')

In [ ]:
projections_vertical['label'].unique()

In [ ]:
df = projections_vertical[(projections_vertical['indicator'] == 'water_stress') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'water_stress') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

In [ ]:
df = projections_vertical[(projections_vertical['indicator'] == 'seasonal_variability') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'seasonal_variability') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

In [ ]:
df = projections_vertical[(projections_vertical['indicator'] == 'water_demand') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'water_demand') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

In [ ]:
df = projections_vertical[(projections_vertical['indicator'] == 'water_supply') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'water_supply') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

## Custom weights table

In [ ]:
df_master = pd.read_csv('./data/y2018m12d04_rh_master_merge_rawdata_gpd_v02_v05.csv')

In [ ]:
df_master.shape

In [ ]:
df_master.head(1)

**Drop columns**

In [ ]:
df_master.drop(columns=['aqid','cat','delta_id','gid_0','gid_1', 'label', 'pfaf_id', 'raw', 'temporal_resolution', 'year'], inplace=True)
df_master.head(1)

In [ ]:
# certain GUs have invalid 'None' indicators. removing those
# This happens when the id exists in the master shapefile but not in te indicator results.
df_valid = df_master.loc[df_master["indicator"].notnull()]

In [ ]:
df_valid.shape

**Add group name**

In [ ]:
df_weights = pd.read_csv('./data/AQ_2_water_risk_atlas/output_V01/industry_weights/industry_weights.csv')

In [ ]:
# Lowercase some columns
df_weights['group_short'] = df_weights['group_short'].astype(str).str.lower()
df_weights['indicator_short'] = df_weights['indicator_short'].astype(str).str.lower()
df_weights['industry_short'] = df_weights['industry_short'].astype(str).str.lower()

# Drop column
df_weights.drop(columns='Unnamed: 0', inplace=True)

In [ ]:
df_groups = df_weights.loc[df_weights["industry_short"] =="def"][["indicator_short","group_short"]]

In [ ]:
df_groups

In [ ]:
# Add group to dataframe
df_group = pd.merge(left=df_valid,
                 right=df_groups,
                 how="left",
                 left_on="indicator",
                 right_on="indicator_short")
# Drop columns
df_group.drop(["indicator_short"], axis=1,inplace=True)

In [ ]:
df_group.head(1)

**Add aq30_id**

In [ ]:
df_aq30 = gpd.read_file('./data/AQ_2_water_risk_atlas/Y2018M12D06_RH_Master_Shape_V01/output_V02/Y2018M12D06_RH_Master_Shape_V01.shp')

In [ ]:
df_aq30.drop(columns=['aqid', 'gid_1', 'pfaf_id', 'type', 'geometry'], inplace=True)
df_aq30.head(1)

In [ ]:
df_aq30.shape

In [ ]:
df_all = pd.merge(left=df_group,
                right=df_aq30,
                on = "string_id",
                how = "left")
df_all.drop(columns='string_id', inplace=True)
df_all.sort_values('aq30_id', inplace=True)
df_all.head(1)

**Drop rows where score is NaN**

In [ ]:
df_all.dropna(subset=['score'], inplace=True)

In [ ]:
df_all.shape

In [ ]:
df_all.head()

**Save table**

In [ ]:
df_all.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_normalized.csv')

## Basin name table

In [132]:
fao_major = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/fao/fao_major.csv')
fao_minor = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/fao/fao_minor.csv')
fao_link = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/fao/fao_link.csv')
fao_major.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
fao_minor.drop(labels=['Unnamed: 0'], axis=1, inplace=True)
fao_link.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [133]:
fao_major.head(1)

   maj_bas                              maj_name  maj_area
0     1001  Gulf of Mexico, North Atlantic Coast    701385

In [134]:
fao_minor.head(1)

,fao_id,sub_bas,to_bas,maj_bas,sub_name,sub_area
0,MAJ_BAS_1001_SUB_BAS_0001001,1001,1005,1001,Upper Roanoke,8689

In [135]:
fao_link.head(1)

   pfaf_id                        fao_id
0   611001  MAJ_BAS_3001_SUB_BAS_0001002

In [136]:
df = pd.merge(left=fao_minor, right=fao_major, on = "maj_bas", how = "left")
df = pd.merge(left=fao_link, right=df, on = "fao_id", how = "left")
df.drop(labels=['fao_id', 'sub_bas', 'to_bas', 'maj_bas', 'sub_name', 'sub_area', 'maj_area'], axis=1, inplace=True)
df.drop_duplicates(subset=['pfaf_id', 'maj_name'], keep='first', inplace=True)
df.head()

   pfaf_id         maj_name
0   611001  Caribbean Coast
2   611002  Caribbean Coast
5   611003  Caribbean Coast
7   611004  Caribbean Coast
8   611005  Caribbean Coast

**Save table**

In [137]:
df.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/basin_names.csv')

## Water Risk Indicators table for Food

We have to modified the new table in such a way that mimics the old one.

### Read tables

**Old table**

In [ ]:
wri_old = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_v3.csv')

In [ ]:
wri_old.head()

In [ ]:
wri_old['scenario'].unique()

In [ ]:
wri_old['indicator'].unique()

**New table**

In [ ]:
wri_new = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/annual/annual_normalized.csv')

In [ ]:
wri_new.head()

**Take only default weighting**

In [ ]:
wri_new = wri_new[wri_new['industry_short'] == 'def']

### Create `PFAF_ID` and `aqid` columns

The `string_id` is a composite index of `PFAF_ID` + "-" + `GID_1` + "-" + `aqid` 

**Polygon names**

|What 	                                |Name             |unique_identifier_integer |
|---------------------------------------|-----------------|--------------------------|
|hydrological sub-basins                |Hydrobasin6      |PFAF_ID                   |
|sub-national administrative boundaries |GADM_1           |GID_1_ID                  |
|Groundwater Aquifers                   |WHYMAP           |aquid                     |
|Union of the geometries above          |Aqueduct_Union   |aq30_id                   |

In old table (water_risk_indicators_v3) `basinid` = `PFAF_ID`

In [ ]:
wri_new['PFAF_ID'] = wri_new.apply(lambda x: x['string_id'].split('-')[0], axis=1)
wri_new['aqid'] = wri_new.apply(lambda x: x['string_id'].split('-')[2], axis=1)

**We remove the sub-national administrative boundaries level**

In [ ]:
wri_new.drop_duplicates(subset=['indicator', 'PFAF_ID', 'aqid'], keep='first', inplace=True)

**Drop some columns**

In [ ]:
wri_new.drop(labels=['Unnamed: 0', 'industry_short', 'raw', 
                       'string_id', 'weight_fraction', 'weighted_score'], axis=1, inplace=True)

In [ ]:
wri_new.head()

In [ ]:
wri_new['aqid'].replace('None', np.nan, inplace=True)
wri_new['PFAF_ID'].replace('None', np.nan, inplace=True)

**Save table**

In [ ]:
wri_new.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_food.csv')