# Water Risk Tables

In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

##  Framework structure

The structure of the framework is as follows. Below we used the default weighting schemes for the groups (quantity, quality and regulatory reputational) and the overall water risk.

Overall Water Risk (100%)
- Water Quantity Risk (69.4%)
    - Baseline Water Stress (16.3%) 
    - Baseline Water Depletion (16.3%)
    - Groundwater Table Decline (16.3%)
    - Interannual Variability (2.0%)
    - Seasonal Variability (2.0%)
    - Drought Risk (8.2%)
    - Riverine Flood Risk (4.1%)
    - Coastal Flood Risk (4.1%)

- Water Quality Risk (12.2%)
    - Untreated Collected Wastewater (8.2%)
    - Coastal Eutrophication Potential (4.1%)

- Regulatory and Reputational (18.4%)
    - Unimproved/no drinking water (8.2%)
    - Unimproved/no sanitation (8.2%)
    - RepRisk Index (2.0%)
    

**Group names**

|Group full 	               |Group short    |
|------------------------------|---------------|
|Overall Water Risk            |TOT            |
|Water Quantity Risk           |QAN            |
|Water Quality Risk            |QAL            |
|Regulatory and Reputational   |RRR            |

**Indicator names**

|Indicator full 	                 |Indicator short    |
|------------------------------------|-------------------|
|Baseline Water Stress               |bws                |    
|Baseline Water Depletion            |bwd                |
|Groundwater Table Decline           |gtd                |
|Interannual Variability             |iav                |
|Seasonal Variability                |sev                |
|Drought Risk                        |drr                |
|Riverine Flood Risk                 |rfr                |
|Coastal Flood Risk                  |cfr                |
|Untreated Collected Wastewater      |ucw                |
|Coastal Eutrophication Potential    |cep                |
|Unimproved/no drinking water        |udw                |
|Unimproved/no sanitation            |usa                |
|RepRisk Index                       |rri                |

## Weighting Scheme

**Weight names**

|Industry full 	         |Industry short |
|------------------------|---------------|
|Default                 |DEF            |
|Argiculture             |AGR            |
|Electric Power          |ELP            |
|Semiconductor           |SMC            |
|Oil and gas             |ONG            |
|Chemical                |CHE            |
|Mining                  |MIN            |
|Food and beverage       |FNB            |
|Construction materials  |CON            |
|Textile                 |TEX            |

## Annual data

In [3]:
annual_pivot = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/annual/annual_pivot.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
annual_pivot[1000:1005]

,Unnamed: 0,aq30_id,aqid,area_km2,bwd_cat,bwd_label,bwd_raw,bwd_score,bws_cat,bws_label,...,w_awr_tex_qan_raw,w_awr_tex_qan_score,w_awr_tex_rrr_cat,w_awr_tex_rrr_label,w_awr_tex_rrr_raw,w_awr_tex_rrr_score,w_awr_tex_tot_cat,w_awr_tex_tot_label,w_awr_tex_tot_raw,w_awr_tex_tot_score
1000,1000,6555,2029,113.398280,0.0,Low,0.009217,0.184346,0.0,Low,...,1.241341,2.299690,2.0,Medium,2.08,2.443003,3.0,Medium - High,2.318940,3.379777
1001,1001,6591,2029,116.860788,0.0,Low,0.006300,0.126008,0.0,Low,...,1.205297,2.230835,2.0,Medium,2.08,2.443003,3.0,Medium - High,2.304690,3.354922
1002,1002,2383,2456,20.437585,0.0,Low,0.044543,0.890851,0.0,Low,...,1.193370,2.208051,4.0,High,4.54,4.561620,4.0,High,3.127982,4.194997
1003,1003,4187,3342,7409.583165,1.0,Low - Medium,0.198013,1.740065,1.0,Low - Medium,...,1.338954,2.486161,4.0,High,4.54,4.561620,4.0,High,3.122204,4.192512
1004,1004,4195,3342,1937.234078,1.0,Low - Medium,0.171032,1.605162,1.0,Low - Medium,...,1.308785,2.428530,4.0,High,4.54,4.561620,4.0,High,3.106574,4.185791

In [10]:
annual_pivot['bwd_label'].unique()

array([nan, 'Low', 'Extremely High', 'Arid and Low Water Use', 'High',
       'Medium - High', 'Low - Medium'], dtype=object)

**Clean table**

In [149]:
columns_default = ['aq30_id']
cols = filter(lambda x:x.endswith("_cat"), list(annual_pivot.columns))

for n, col in enumerate(list(cols)):    
    columns_default.append(col)

In [150]:
annual_pivot_default = annual_pivot[columns_default]

In [151]:
annual_pivot_default[1000:1005]

,aq30_id,bwd_cat,bws_cat,cep_cat,cfr_cat,drr_cat,gtd_cat,iav_cat,rfr_cat,rri_cat,...,w_awr_ong_rrr_cat,w_awr_ong_tot_cat,w_awr_smc_qal_cat,w_awr_smc_qan_cat,w_awr_smc_rrr_cat,w_awr_smc_tot_cat,w_awr_tex_qal_cat,w_awr_tex_qan_cat,w_awr_tex_rrr_cat,w_awr_tex_tot_cat
1000,6555,0.0,0.0,2.0,0.0,NaN,NaN,3.0,4.0,4.0,...,1.0,1.0,4.0,2.0,2.0,3.0,4.0,2.0,2.0,3.0
1001,6591,0.0,0.0,2.0,0.0,NaN,NaN,3.0,4.0,4.0,...,1.0,1.0,4.0,2.0,2.0,3.0,4.0,2.0,2.0,3.0
1002,2383,0.0,0.0,2.0,0.0,2.0,NaN,2.0,2.0,4.0,...,4.0,4.0,4.0,2.0,4.0,4.0,4.0,2.0,4.0,4.0
1003,4187,1.0,1.0,1.0,0.0,1.0,NaN,1.0,0.0,4.0,...,4.0,4.0,4.0,2.0,4.0,4.0,4.0,2.0,4.0,4.0
1004,4195,1.0,1.0,1.0,0.0,2.0,NaN,1.0,0.0,4.0,...,4.0,4.0,4.0,2.0,4.0,4.0,4.0,2.0,4.0,4.0

**Save tables**

In [152]:
annual_pivot_default.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_annual.csv')

## Monthly data

In [6]:
monthly_bws = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/monthly/monthly_bws.csv')
monthly_bwd = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/monthly/monthly_bwd.csv')
monthly_iav = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/monthly/monthly_iav.csv')

In [7]:
monthly_bws.head()

,Unnamed: 0,pfaf_id,temporal_resolution,year,month,delta_id,raw,score,cat,label
0,0,913430,month,2014,1,-1,NaN,-9999.0,-9999.0,NoData
1,1,913430,month,2014,2,-1,NaN,-9999.0,-9999.0,NoData
2,2,913430,month,2014,3,-1,NaN,-9999.0,-9999.0,NoData
3,3,913430,month,2014,4,-1,NaN,-9999.0,-9999.0,NoData
4,4,913430,month,2014,5,-1,NaN,-9999.0,-9999.0,NoData

**Clean table**

In [154]:
monthly_bws = monthly_bws[['pfaf_id', 'year', 'month', 'cat']]
monthly_bwd = monthly_bwd[['pfaf_id', 'year', 'month', 'cat']]
monthly_iav = monthly_iav[['pfaf_id', 'year', 'month', 'cat']]

In [155]:
monthly_bws.rename(columns={'cat': 'bws_cat'}, inplace= True)
monthly_bwd.rename(columns={'cat': 'bwd_cat'}, inplace= True)
monthly_iav.rename(columns={'cat': 'iav_cat'}, inplace= True)

In [156]:
monthly = monthly_bws.merge(monthly_bwd, on=['pfaf_id', 'year', 'month'], how='left')
monthly = monthly.merge(monthly_iav, on=['pfaf_id', 'year', 'month'], how='left')

In [157]:
monthly[100100:100105]

        pfaf_id  year  month  bws_cat  bwd_cat  iav_cat
100100   312414  2014      9      0.0      0.0      0.0
100101   312414  2014     12      0.0      0.0      1.0
100102   312414  2014      2      0.0      0.0      1.0
100103   312414  2014      5      0.0      0.0      1.0
100104   312414  2014      4      0.0      0.0      4.0

**Save tables**

In [158]:
monthly.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_monthly.csv')

In [119]:
industry_weights = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/industry_weights/industry_weights.csv')

In [121]:
industry_weights.drop(labels=['Unnamed: 0', 'id'], axis=1, inplace=True)

In [122]:
industry_weights.head()

,group_full,group_short,indicator_full,indicator_short,industry_full,industry_short,weight_abs,weight_label,weight_interpretation,weight_fraction
0,Physical Risk Quality,QAL,Coastal eutrophication potential,CEP,Oil & Gas,ONG,0.0,No weight,Not relevant,0.000000
1,Physical Risk Quality,QAL,Untreated collected wastewater,UCW,Default,DEF,2.0,High,Represents high risk to the industry,0.081633
2,Physical Risk Quality,QAL,Untreated collected wastewater,UCW,Food & Beverage,FNB,2.0,High,Represents high risk to the industry,0.081633
3,Physical Risk Quality,QAL,Coastal eutrophication potential,CEP,Food & Beverage,FNB,2.0,High,Represents high risk to the industry,0.081633
4,Physical Risk Quality,QAL,Untreated collected wastewater,UCW,Chemicals,CHE,2.0,High,Represents high risk to the industry,0.076190

**Save table**

In [123]:
industry_weights.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_industry_weights.csv')

## Future projections

In [156]:
projections = gpd.read_file('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/aqueduct_projections_20150309_shp/aqueduct_projections_20150309.shp')

In [157]:
projections.head()

,BasinID,dwnBasinID,Area_km2,Shape_Leng,ws2024tr,ws2024tl,ws3024tr,ws3024tl,ws4024tr,ws4024tl,...,sv4028ul,sv2038ur,sv2038ul,sv3038ur,sv3038ul,sv4038ur,sv4038ul,Shape_Le_1,Shape_Area,geometry
0,1,0,2085,0.0,0.860153,Extremely high (>80%),1.058204,Extremely high (>80%),1.098187,Extremely high (>80%),...,High uncertainty,0.276085,High uncertainty,0.303592,High uncertainty,0.304096,High uncertainty,4.197305,0.196370,"POLYGON ((25.95064506611698 30.98011437727672,..."
1,2,0,2373,0.0,3.257008,Extremely high (>80%),3.086548,Extremely high (>80%),2.947359,Extremely high (>80%),...,High uncertainty,0.234488,High uncertainty,0.253703,High uncertainty,0.264467,High uncertainty,3.597165,0.223965,"POLYGON ((25.23877293911988 31.29694755848311,..."
2,3,0,1509,0.0,2.595165,Extremely high (>80%),2.786326,Extremely high (>80%),2.517074,Extremely high (>80%),...,High uncertainty,0.276976,High uncertainty,0.304777,High uncertainty,0.304962,High uncertainty,2.478102,0.142297,(POLYGON ((26.94685809182755 31.21755797312204...
3,4,0,4113,0.0,1.327963,Extremely high (>80%),1.492594,Extremely high (>80%),1.520199,Extremely high (>80%),...,High uncertainty,0.242970,High uncertainty,0.263880,High uncertainty,0.255351,High uncertainty,4.621268,0.386641,"POLYGON ((27.6227709095499 30.5666504388667, 2..."
4,5,0,4454,0.0,0.418429,Arid and low water use,0.684660,Arid and low water use,0.943055,Arid and low water use,...,High uncertainty,0.279182,High uncertainty,0.294587,High uncertainty,0.287821,High uncertainty,4.833261,0.417697,"POLYGON ((27.6227709095499 30.5666504388667, 2..."

**Table reconfiguration**

In [161]:
indicator_codes = {'ws': 'water_stress', 'sv': 'seasonal_variability', 'ut': 'water_demand', 'bt': 'water_supply'}
year_codes = {'20': 2020, '30': 2030, '40': 2040}
scenario_codes = {'24': 'optimistic', '28': 'business_as_usual', '38': 'pessimistic'}
data_types = {'c': 'change_from_baseline', 't': 'future_value'}
suffixes = {'l': 'label', 'r': 'value'}

projections_vertical = pd.DataFrame(columns=['basinid', 'indicator', 'value', 'label', 'year', 'scenario', 'type'])

nRows = projections.shape[0]
basinid_col = list(projections['BasinID'])
for indicator in indicator_codes.keys():
    indicator_col = [indicator_codes[indicator]] * nRows
    for year in year_codes.keys():
        year_col = [year_codes[year]] * nRows
        
        for scenario in scenario_codes.keys():
            scenario_col = [scenario_codes[scenario]] * nRows
            
            for type in data_types.keys():
                type_col = [data_types[type]] * nRows
                
                label_col = list(projections[indicator+year+scenario+type+list(suffixes.keys())[0]])
                value_col = list(projections[indicator+year+scenario+type+list(suffixes.keys())[1]])
                
                df = pd.DataFrame({'basinid': basinid_col, 'indicator': indicator_col, 'value': value_col, 
                                   'label': label_col, 'year': year_col, 'scenario': scenario_col, 'type': type_col})
                
                projections_vertical = pd.concat([projections_vertical, df])

projections_vertical['basinid'] = projections_vertical['basinid'].astype(np.int)
projections_vertical.head()

,basinid,indicator,value,label,year,scenario,type
0,1,water_stress,1.083419,Near normal,2020,optimistic,change_from_baseline
1,2,water_stress,1.123759,Near normal,2020,optimistic,change_from_baseline
2,3,water_stress,1.017440,Near normal,2020,optimistic,change_from_baseline
3,4,water_stress,1.601915,1.4x increase,2020,optimistic,change_from_baseline
4,5,water_stress,2.024794,2x increase,2020,optimistic,change_from_baseline

**Save table**

In [164]:
projections_vertical.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_projections.csv')

In [201]:
projections_vertical['label'].unique()

array(['Near normal', '1.4x increase', '2x increase', 'No data',
       '1.4x decrease', '2.8x or greater increase', '2x decrease',
       '2.8x or greater decrease', 'Extremely high (>80%)',
       'Arid and low water use', 'Low (<10%)', 'High (40-80%)',
       'Medium-high (20-40%)', 'Low-medium (10-20%)', '1.1x decrease',
       '1.1x increase', '1.2x decrease', '1.3x or greater decrease',
       '1.2x increase', 'Low-medium (0.33-0.66)', 'Low (<0.33)',
       'High (1.0-1.33)', 'Extremely High (>1.33)',
       'Medium-high (0.66-1.0)', '1.3x or greater increase',
       '1.7x or greater increase', '1.7x or greater decrease', '1-3 cm',
       '3-10 cm', '< 1 cm', '10-30 cm', '> 30 cm', '>1000 cm',
       '30-100 cm', '100-300 cm', '300-1000 cm'], dtype=object)

In [226]:
df = projections_vertical[(projections_vertical['indicator'] == 'water_stress') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'water_stress') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

['Near normal' '1.4x increase' '2x increase' 'No data' '1.4x decrease'
 '2.8x or greater increase' '2x decrease' '2.8x or greater decrease']
['Extremely high (>80%)' 'Arid and low water use' 'Low (<10%)'
 'High (40-80%)' 'Medium-high (20-40%)' 'Low-medium (10-20%)' 'No data']

In [227]:
df = projections_vertical[(projections_vertical['indicator'] == 'seasonal_variability') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'seasonal_variability') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

['Near normal' 'No data' '1.1x decrease' '1.1x increase' '1.2x decrease'
 '1.3x or greater decrease' '1.2x increase' '1.3x or greater increase']
['Low-medium (0.33-0.66)' 'Low (<0.33)' 'No data' 'High (1.0-1.33)'
 'Extremely High (>1.33)' 'Medium-high (0.66-1.0)']

In [228]:
df = projections_vertical[(projections_vertical['indicator'] == 'water_demand') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'water_demand') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

['Near normal' '1.7x or greater increase' '1.4x increase' '1.2x increase'
 '1.4x decrease' '1.2x decrease' '1.7x or greater decrease' 'No data']
['1-3 cm' '3-10 cm' '< 1 cm' '10-30 cm' '> 30 cm']

In [229]:
df = projections_vertical[(projections_vertical['indicator'] == 'water_supply') & (projections_vertical['type'] == 'change_from_baseline')]
print(df['label'].unique())
df = projections_vertical[(projections_vertical['indicator'] == 'water_supply') & (projections_vertical['type'] == 'future_value')]
print(df['label'].unique())

['Near normal' '1.2x decrease' 'No data' '1.4x decrease' '1.4x increase'
 '1.2x increase' '1.7x or greater increase' '1.7x or greater decrease']
['1-3 cm' '< 1 cm' '>1000 cm' '3-10 cm' '10-30 cm' '30-100 cm'
 '100-300 cm' '300-1000 cm']

## Custom weights table

In [75]:
df_master = pd.read_csv('./data/y2018m12d04_rh_master_merge_rawdata_gpd_v02_v05.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
df_master.shape

(890643, 13)

In [77]:
df_master.head(1)

,aqid,cat,delta_id,gid_0,gid_1,indicator,label,pfaf_id,raw,score,string_id,temporal_resolution,year
0,3365.0,0.0,-1.0,ERI,ERI.2_1,bwd,Low,111081.0,0.038672,0.773434,111081-ERI.2_1-3365,year,2014.0

**Drop columns**

In [78]:
df_master.drop(columns=['aqid','cat','delta_id','gid_0','gid_1', 'label', 'pfaf_id', 'raw', 'temporal_resolution', 'year'], inplace=True)
df_master.head(1)

  indicator     score            string_id
0       bwd  0.773434  111081-ERI.2_1-3365

In [79]:
# certain GUs have invalid 'None' indicators. removing those
# This happens when the id exists in the master shapefile but not in te indicator results.
df_valid = df_master.loc[df_master["indicator"].notnull()]

In [80]:
df_valid.shape

(809557, 3)

**Add group name**

In [81]:
df_weights = pd.read_csv('./data/AQ_2_water_risk_atlas/output_V01/industry_weights/industry_weights.csv')

In [82]:
# Lowercase some columns
df_weights['group_short'] = df_weights['group_short'].astype(str).str.lower()
df_weights['indicator_short'] = df_weights['indicator_short'].astype(str).str.lower()
df_weights['industry_short'] = df_weights['industry_short'].astype(str).str.lower()

# Drop column
df_weights.drop(columns='Unnamed: 0', inplace=True)

In [83]:
df_groups = df_weights.loc[df_weights["industry_short"] =="def"][["indicator_short","group_short"]]

In [84]:
df_groups

    indicator_short group_short
1               ucw         qal
15              cep         qal
20              drr         qan
42              bws         qan
43              bwd         qan
44              gtd         qan
62              iav         qan
63              sev         qan
75              rfr         qan
76              cfr         qan
100             udw         rrr
101             usa         rrr
122             rri         rrr

In [85]:
# Add group to dataframe
df_group = pd.merge(left=df_valid,
                 right=df_groups,
                 how="left",
                 left_on="indicator",
                 right_on="indicator_short")
# Drop columns
df_group.drop(["indicator_short"], axis=1,inplace=True)

In [86]:
df_group.head(1)

  indicator     score            string_id group_short
0       bwd  0.773434  111081-ERI.2_1-3365         qan

**Add aq30_id**

In [87]:
df_aq30 = gpd.read_file('./data/AQ_2_water_risk_atlas/Y2018M12D06_RH_Master_Shape_V01/output_V02/Y2018M12D06_RH_Master_Shape_V01.shp')

In [88]:
df_aq30.drop(columns=['aqid', 'gid_1', 'pfaf_id', 'type', 'geometry'], inplace=True)
df_aq30.head(1)

   aq30_id             string_id
0        0  111011-EGY.11_1-3365

In [114]:
df_aq30.shape

(68511, 2)

In [89]:
df_all = pd.merge(left=df_group,
                right=df_aq30,
                on = "string_id",
                how = "left")
df_all.drop(columns='string_id', inplace=True)
df_all.sort_values('aq30_id', inplace=True)
df_all.head(1)

       indicator     score group_short  aq30_id
614218       rfr  4.180674         qan        0

**Drop rows where score is NaN**

In [70]:
df_all.dropna(subset=['score'], inplace=True)

In [71]:
df_all.shape

(736918, 4)

In [118]:
df_all.head()

       indicator     score group_short  aq30_id
614218       rfr  4.180674         qan        0
414738       gtd       NaN         qan        0
712413       cep  1.250000         qal        0
723470       cfr  0.000000         qan        0
325363       sev  2.887187         qan        0

**Save table**

In [74]:
df_all.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_normalized.csv')

## Water Risk Indicators table for Food

We have to modified the new table in such a way that mimics the old one.

### Read tables

**Old table**

In [4]:
wri_old = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_v3.csv')

In [5]:
wri_old.head()

,the_geom,period,field_1,aqid,basinid,data_type,indicator,cartodb_id,period_value,scenario,value,year,cat,label
0,NaN,month,16686,NaN,117709.0,absolute,water_stess,131466,1.0,historic,NaN,2014,-1.0,Arid & low water use
1,NaN,month,16769,NaN,122721.0,absolute,water_stess,131549,1.0,historic,NaN,2014,5.0,6. Extremely high
2,NaN,month,18406,NaN,172136.0,absolute,water_stess,133186,1.0,historic,NaN,2014,-1.0,Arid & low water use
3,NaN,month,19309,NaN,155144.0,absolute,water_stess,134089,1.0,historic,NaN,2014,-1.0,Arid & low water use
4,NaN,month,24758,NaN,211011.0,absolute,water_stess,139538,1.0,historic,NaN,2014,5.0,6. Extremely high

In [7]:
wri_old['scenario'].unique()

array(['historic'], dtype=object)

In [18]:
wri_old['indicator'].unique()

array(['water_stess', 'drought_severity_soil', 'drought_severity_flow',
       'interannual_variability', 'seasonal_variability',
       'groundwater_stress', 'groundwater_decline_trend'], dtype=object)

**New table**

In [19]:
wri_new = pd.read_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/output_V01/annual/annual_normalized.csv')

In [20]:
wri_new.head()

,Unnamed: 0,cat,group_short,indicator,industry_short,label,raw,score,string_id,weight_fraction,weighted_score
0,0,4.0,qan,bwd,che,Extremely High,0.987061,4.948243,111011-EGY.11_1-3365,0.076190,0.377009
1,1,4.0,qan,bwd,smc,Extremely High,0.987061,4.948243,111011-EGY.11_1-3365,0.095238,0.471261
2,2,4.0,qan,bwd,min,Extremely High,0.987061,4.948243,111011-EGY.11_1-3365,0.061069,0.302183
3,3,4.0,qan,bwd,con,Extremely High,0.987061,4.948243,111011-EGY.11_1-3365,0.142857,0.706892
4,4,4.0,qan,bwd,tex,Extremely High,0.987061,4.948243,111011-EGY.11_1-3365,0.081633,0.403938

**Take only default weighting**

In [21]:
wri_new = wri_new[wri_new['industry_short'] == 'def']

### Create `PFAF_ID` and `aqid` columns

The `string_id` is a composite index of `PFAF_ID` + "-" + `GID_1` + "-" + `aqid` 

**Polygon names**

|What 	                                |Name             |unique_identifier_integer |
|---------------------------------------|-----------------|--------------------------|
|hydrological sub-basins                |Hydrobasin6      |PFAF_ID                   |
|sub-national administrative boundaries |GADM_1           |GID_1_ID                  |
|Groundwater Aquifers                   |WHYMAP           |aquid                     |
|Union of the geometries above          |Aqueduct_Union   |aq30_id                   |

In old table (water_risk_indicators_v3) `basinid` = `PFAF_ID`

In [22]:
wri_new['PFAF_ID'] = wri_new.apply(lambda x: x['string_id'].split('-')[0], axis=1)
wri_new['aqid'] = wri_new.apply(lambda x: x['string_id'].split('-')[2], axis=1)

**We remove the sub-national administrative boundaries level**

In [23]:
wri_new.drop_duplicates(subset=['indicator', 'PFAF_ID', 'aqid'], keep='first', inplace=True)

**Drop some columns**

In [24]:
wri_new.drop(labels=['Unnamed: 0', 'industry_short', 'raw', 
                       'string_id', 'weight_fraction', 'weighted_score'], axis=1, inplace=True)

In [25]:
wri_new.head()

,cat,group_short,indicator,label,score,PFAF_ID,aqid
5,4.0,qan,bwd,Extremely High,4.948243,111011,3365
14,4.0,qan,rfr,Extremely High (more than 1 in 100),4.180674,111011,3365
25,NaN,qan,gtd,Insignificant Trend,NaN,111011,3365
30,0.0,rrr,udw,Low (< 2.5%),0.000000,111011,3365
41,4.0,qan,iav,Extremely High,4.141657,111011,3365

In [26]:
wri_new['aqid'].replace('None', np.nan, inplace=True)
wri_new['PFAF_ID'].replace('None', np.nan, inplace=True)

**Save table**

In [ ]:
wri_new.to_csv('/Users/ikersanchez/Vizzuality/PROIEKTUAK/Aqueduct/work/data/AQ_2_water_risk_atlas/water_risk_indicators_food.csv')